<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>

    <title>chicken stock</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/common/common.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/returnItem/storeReItem.css}"/>
    <!-- datepicker js & css -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

    <!-- table css -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/common/style.css}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="wrap">

    <!-- S: header -->
    <div th:include="common/userHeader.html"></div>
    <!-- S: header -->

    <!-- S: container -->
    <div class="container">

        <!-- sidebar -->
        <div th:replace="common/userSidebar.html"></div>

        <!-- S: main layout -->
        <div class="main_layout">
            <div class="main_layout_inner">

                <!-- 작업 영역 -->
                <!-- S: table -->
                <div class="container-fluid" style="margin-top:30px">
                    <h3><i class="fa-solid fa-list-check"></i> 반품 내역</h3>
                    <br>
                    <div class="input-group mb-3 col-12">
                        <div class="dateList1"> 반품 신청일 :
                            <span id="dueDate">2022-08-20</span>
                        </div>
                        <div class="dateList2" style="font-weight: bold;">
                            <select id="searchCondition" name="searchCondition" class="form-control col-4" style="max-width: max-content; margin-right: 10px; display: inline-block; border: none;">
                                <option> - 반품사유 - </option>
                                <option value="date">실수로 잘못 주문함</option>
                                <option value="date">배송중 손상됨</option>
                                <option value="date">더이상 필요하지 않음</option>
                                <option value="date">유통기한이 지난(짧은) 상품 배송</option>
                            </select>
                        </div>
                        <div class="dateList3" style="font-weight: bold;">
                            총 반품액 :
                            <input type="text" class="release-input" th:name="totalMoney" th:value="${ totalMoney }" style="width: 150px; background-color: #f5f5f9; border: none;" readonly>
                        </div>
                    </div>

                    <table class="table">
                        <thead>
                        <tr>
                            <th>번호</th>
                            <th>상품코드</th>
                            <th>썸네일</th>
                            <th>상품명</th>
                            <th>카테고리</th>
                            <th>규격</th>
                            <th>제조사(원산지)</th>
                            <th>판매가격</th>
                            <th>반품수량</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td>100000</td>
                            <td>
                                <div class="img-info">
                                    <div class="img-info__img">
                                        <img src="images/chicken.jpg" alt="">
                                    </div>
                                </div>
                            </td>
                            <td>닭다리</td>
                            <td>식재료</td>
                            <td>1kg</td>
                            <td>하림(국내산)</td>
                            <td>6,000</td>
                            <td >
                                <input type="number" style="width:60px; text-align: center; border: 1px solid rgb(255, 255, 255); border-bottom: 1px solid;" >
                                <button type="submit" style="border : none; background-color: #fff;"></button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <button class="btn btn-warning me-1" onclick="correctionForm()">수정</button>
                    <button class="btn btn-warning me-1" onclick="location.href='storeReList.html'">돌아가기</button>
                </div>
                <!-- E: table -->

            </div>
        </div>
        <!-- E: main layout -->
    </div>
    <!-- E: container -->
</div>
<!-- table js -->
<!-- 반품신청 -->
<script type="text/javascript">
    function correctionForm() {
        var result = confirm("수정완료 하시겠습니까?");
        if(result == true) {
            alert("신청서 수정이 완료되었습니다.");
        }
    }
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>