<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>

  <title>chicken stock</title>

</head>
<body>

      <!-- S: aside -->
      <div class="aside">
        <div class="accordion">

          <!-- 하위 메뉴가 없을때 -->
          <div class="accordion_dep type1 ">
            <a href="#" title=""><img src="/images/home.png" width="18px" height="18px"> 홈</a>
          </div>

          <div class="accordion_dep type2">
            <a href="#" title=""><img src="/images/mypage.png" width="18px" height="18px"> 마이페이지</a>
            <ul>
              <li>                
                 <a href="/account/user/list" title="">예치금 관리</a>
              </li>
              <li>                
                 <a th:href="@{/mypage/store_mypage}" title="">비밀번호 재설정</a>
              </li>
            </ul>
          </div>

          <div class="accordion_dep type1 ">
            <a href="#" title=""><img src="/images/items.png" width="18px" height="18px"> 품목관리</a>
          </div>

          <div class="accordion_dep type1 ">
            <a href="#" title=""><img src="/images/order.png" width="18px" height="18px"> 발주</a>
          </div>

          <div class="accordion_dep type1 ">
            <a href="#" title=""><img src="/images/container.png" width="18px" height="18px"> 입고조회</a>
          </div>

          <div class="accordion_dep type2">
            <a href="#" title=""><img src="/images/re.png" width="18px" height="18px"> 반품관리</a>
            <ul>
              <li>
                <a href="../reItem/returnReItemList.html" title="">반품요청</a>
              </li>
              <li>
                <a href="../reItem/storeReList.html" title="">반품요청목록조회</a>
              </li>
            </ul>
          </div>

          <div class="accordion_dep type1 ">
            <a href="../billTax/billList.html" title=""><img src="/images/tax.png" width="18px" height="18px"> 세금계산서</a>
          </div>

          <div class="accordion_dep type1 ">
            <a href="../billTax/tsbillList.html" title=""><img src="/images/bill.png" width="18px" height="18px"> 거래명세서</a>
          </div>

          <div class="accordion_dep type1 ">
            <a href="/notice/user/list" title=""><img src="/images/notice.png" width="18px" height="18px"> 공지사항</a>
          </div>
          
          <div class="accordion_dep type1 ">
            <a href="/store/user/list" title=""><img src="/images/shop.png" width="18px" height="18px"> 가맹점 조회</a>
          </div>

          <div class="accordion_dep type2">
            <a href="#" title=""><img src="/images/phone.JPG" width="18px" height="18px"> 1:1 문의</a>
            <ul>
              <li>
                <a href="/counsel/user/list" title="">내가 쓴 1:1 문의</a>
              </li>
              <li>
                <a href="/counsel/user/insert" title="">1:1 문의 등록</a>
              </li>
            </ul>
          </div>

        </div>
      </div>
      <!-- E: aside -->
</body>
</html>