<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>

  <title>chicken stock</title>

  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script type="text/javascript" th:src="@{/js/common.js}"></script>

</head>
<body>

      <!-- S: aside -->
      <div class="aside">
        <div class="accordion">

          <!-- 하위 메뉴가 없을때 -->
          <div class="accordion_dep type1 ">
            <a href="#" title="">홈</a>
          </div>

          <div class="accordion_dep type2">
            <a href="#" title="">마이페이지</a>
            <ul>
              <li>                
                 <a href="#" title="">예치금 관리</a>
              </li>
              <li>                
                 <a href="#" title="">비밀번호 재설정</a>
              </li>
            </ul>
          </div>

          <div class="accordion_dep type1 ">
            <a href="#" title="">품목관리</a>
          </div>

          <div class="accordion_dep type1 ">
            <a href="#" title="">발주</a>
          </div>

          <div class="accordion_dep type1 ">
            <a href="#" title="">입고 조회</a>
          </div>

          <div class="accordion_dep type2">
            <a href="#" title="">반품관리</a>
            <ul>
              <li>
                <a href="../reItem/returnReItemList.html" title="">반품요청</a>
              </li>
              <li>
                <a href="../reItem/storeReList.html" title="">반품요청목록조회</a>
              </li>
            </ul>
          </div>

          <div class="accordion_dep type1 ">
            <a href="../billtax/billList.html" title="">세금계산서</a>
          </div>

          <div class="accordion_dep type1 ">
            <a href="../billtax/tsbillList.html" title="">거래명세서</a>
          </div>

          <div class="accordion_dep type1 ">
            <a href="/notice/user/list" title="">공지사항</a>
          </div>
          
          <div class="accordion_dep type1 ">
            <a href="/store/user/list" title="">가맹점 조회</a>
          </div>
        </div>
      </div>
      <!-- E: aside -->
</body>
</html>