<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>

  <title>chicken stock</title>

  <link rel="stylesheet" type="text/css" th:href="@{/css/common/common.css}"/>
  <!-- table css -->
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" th:href="@{/css/common/style.css}"/>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
  <div class="wrap">

    <!-- header -->
    <div th:include="common/userHeader.html"></div>

    <!-- S: container -->
    <div class="container px-0">

      <!-- sidebar -->
      <div th:replace="common/userSidebar.html"></div>

      <!-- S: main layout -->
      <div class="main_layout">
        <div class="main_layout_inner">

          <!-- 작업 영역 -->
          <!-- S: table -->
          <div class="container-fluid" style="margin-top:30px">
            <h3>반품요청 목록 조회</h3>
			      <br>
            <div class="input-group mb-3 col-7">
              <select id="searchCondition" class="form-control" style="display: none ">
                <option value="date">날짜</option>
              </select>
              <input type="date" class="form-control col-2" id="searchValue" name="searchValue" value="">
              <button class="btn btn-light" type="button" disabled>~</button>
              <input type="date" class="form-control col-2" id="searchValue" name="searchValue" value="">
              <button class="btn btn-light px-3" type="button" disabled></button>
              <input class="form-control me-2 col-4" type="text" placeholder="검색어를 입력해주세요.">
              <button class="btn btn-warning" type="submit" style="color:#fff">검색</button>
            </div>	

            <table class="table">
              <thead>
                <tr>
                  <th>번호</th>
                  <th>발주서 작성일</th>
                  <th>제품 도착일</th>
                  <th>반품상태</th>
                  <th>:</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>2022-08-23</td>
                  <td>2022-08-24</td>
                  <td>대기</td>
                  <td>
                    <div class="dropdown open">
                      <a href="#!" class="px-2" id="triggerId1" data-toggle="dropdown" aria-haspopup="true"
                          aria-expanded="false">
                            <i class="fa fa-ellipsis-v"></i>
                      </a>
                      <div class="dropdown-menu" aria-labelledby="triggerId1">
                        <!-- <a class="dropdown-item" href="#"><i class="fa fa-eye mr-1"></i>View</a> -->
                        <a class="dropdown-item" href="storeReItem.html"><i class="fa fa-pencil mr-1"></i>수정</a>
                        <a class="dropdown-item text-danger" href="#" onclick="deleteForm()"><i class="fa fa-trash mr-1"></i>삭제</a>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- E: table -->
          <!-- S: paging -->
          <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-light disabled" id="startPage"><<</button>
            <button type="button" class="btn btn-light mx-1 disabled"><</button>
            <button type="button" class="btn btn-warning mx-1" disabled style="color:white">1</button>
            <button type="button" class="btn btn-light mx-1">2</button>
            <button type="button" class="btn btn-light mx-1">></button>
            <button type="button" class="btn btn-light mx-1" id="maxPage">>></button> 
          </div>
          <!-- E: paging -->
        </div>
      </div>
      <!-- E: main layout -->
    </div>
    <!-- E: container -->
  </div>
  <!-- table js -->
<!-- 장바구니 품목 삭제 -->
<script type="text/javascript">
  function deleteForm() {
      var result = confirm("반품신청을 삭제하시겠습니까?");
      if(result == true) {
          alert("해당 신청서가 삭제되었습니다.");
      }
  }
</script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>