<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>

  <title>chicken stock</title>

  <link rel="stylesheet" type="text/css" th:href="@{/css/common/common.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/returnItem/storeReItem.css}"/>
  <!-- table css -->
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" th:href="@{/css/common/style.css}"/>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script th:src="@{/js/common.js}"></script>

</head>
<body>
  <div class="wrap">

    <!-- header -->
    <div th:include="common/userHeader.html"></div>

    <!-- S: container -->
    <div class="container px-0">

      <!-- sidebar -->
      <div th:replace="common/userSidebar.html"></div>


      <!-- S: main layout -->
      <div class="main_layout">
        <div class="main_layout_inner">

          <!-- 작업 영역 -->
          <!-- S: table -->
        <div class="container-fluid" style="margin-top:30px">
            <h3><i class="fa-solid fa-list-check"></i> 발주 내역</h3>
			<br>
            <div class="input-group mb-3 col-12">
                <div class="dateList1"> 입고일 : 
                    <span id="dueDate">2022-08-15</span>
                </div>
                <div class="dateList2"> 반품 신청일 : 
                    <span id="deadline">2022-08-20</span>
                </div>
                <div class="dateList3" style="font-weight: bold;"> 반품사유 : 
                    <span id="deadline">유통기한이 너무 짧음</span>
                </div>

            </div>	

            <table class="table">
                <thead>
                  <tr>
                    <th>
                      <div class="form-check pb-3">
                        <input type="checkbox" class="form-check-input" name="option" value='selectall' onclick='selectAll(this)'/>
                      </div>
                    </th>
                    <th>번호</th>
                    <th>상품코드</th>
                    <th>썸네일</th>
                    <th>상품명</th>
                    <th>카테고리</th>
                    <th>규격</th>
                    <th>제조사(원산지)</th>
                    <th>판매가격</th>
                    <th>주문수량</th>
                    <th>반품수량</th>
                    <th>합계</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="check" name="option" value="something">
                        <label class="form-check-label" for="check"></label>
                      </div>
                    </td>
                    <td>1</td>
                    <td>100000</td>
                    <td>
                      <div class="img-info">
                        <div class="img-info__img">
                          <img src="../assets/images/chicken.jpg" alt="">
                        </div>
                      </div>
                    </td>
                    <td>닭다리</td>
                    <td>식재료</td>
                    <td>1kg</td>
                    <td>하림(국내산)</td>
                    <td>6,000</td>
                    <td>10</td>
                    <td>
                        <input type="number" style="width:60px; text-align: center; border: 1px solid rgb(255, 255, 255); border-bottom: 1px solid; " >
                        <button type="submit" style="border : none; background-color: #fff;"></button>
                      </td>
                    <td>60,000</td>
                  </tr>
                </tbody>
              </table>
              <button class="btn btn-warning me-1" onclick="correctionForm()">수정</button>
              <button class="btn btn-warning me-1" onclick="location.href='storeReList.html'">돌아가기</button>
            </div>
          <!-- E: table -->
          
        </div>
      </div>
      <!-- E: main layout -->
    </div>
    <!-- E: container -->
  </div>
  <!-- table js -->
  <!-- 반품신청 -->
  <script type="text/javascript">
    function correctionForm() {
        var result = confirm("수정완료 하시겠습니까?");
        if(result == true) {
            alert("신청서 수정이 완료되었습니다.");
        }
    }
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>