<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <title>chicken stock</title>

  <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/notice.css}"/>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="/js/common.js"></script>

</head>
<body>
  <div class="wrap">

    <!-- S: header -->
    <div class="header">
      <div class="logo">
        <a href="" title=""><img src="/images/logo.png" alt="logo"/></a>
      </div>
      <div class="logout_area">
        <button class="btn btn-outline-light">로그아웃</button>
      </div>
      <div class="user_area">
        <span>관리자</span>님, 환영합니다.
      </div>
    </div>
    <!-- S: header -->

    <!-- S: container -->
    <div class="container px-0">

      <!-- S: aside -->
      <div class="aside">
        <div class="accordion">

          <!-- 하위 메뉴가 없을때 -->
          <div class="accordion_dep type1 ">
            <a href="#" title="">홈</a>
          </div>

          <!-- 하위 메뉴가 있을때 -->
          <div class="accordion_dep type2">
            <a href="#" title="">마이페이지</a>
            <ul>
              <li>                
                 <a href="#" title="">비밀번호 수정</a>
              </li>
            </ul>
          </div>

          <div class="accordion_dep type1 ">
            <a href="#" title="">품목관리</a>
          </div>

          <div class="accordion_dep type1 ">
            <a href="#" title="">입고관리</a>
          </div>

          <div class="accordion_dep type1 ">
            <a href="#" title="">출고관리</a>
          </div>

          <div class="accordion_dep type2">
            <a href="#" title="">매입/매출관리</a>
            <ul>
              <li>                
                <a href="#" title="">매입전표</a>
             </li>
              <li>                
                <a href="#" title="">매출전표</a>
              </li>
            </ul>
          </div>

          <div class="accordion_dep type1 ">
            <a href="#" title="">세금계산서</a>
          </div>
          
          <div class="accordion_dep type1 ">
            <a href="#" title="">거래명세서</a>
          </div>

          <div class="accordion_dep type1 ">
            <a href="#" title="">가맹점관리</a>
          </div>

          <div class="accordion_dep type1 active">
            <a href="/notice/list" title="">공지사항</a>
          </div>

          <div class="accordion_dep type2">
            <a href="#" title="">관리자메뉴</a>
            <ul>
              <li>                
                <a href="#" title="">직원관리</a>
             </li>
              <li>                
                <a href="#" title="">예치금관리</a>
              </li>
              <li>                
                <a href="/notice/insert" title="">공지사항 작성</a>
              </li>
              <li>                
                <a href="#" title="">가맹점 등록</a>
              </li>
              <li>                
                <a href="#" title="">일정관리</a>
              </li>
            </ul>
          </div>

          <!-- <div class="accordion_dep type2 active">   
            <ul style="display: block;"></ul> 
            a href class="active" -->           
        </div>
      </div>
      <!-- E: aside -->

      <!-- S: main layout -->
      <div class="main_layout">
        <div class="main_layout_inner">

          <!-- 작업 영역 -->
          <!-- S: table -->
          <div class="container-fluid" style="margin-top:30px">
            <h3>공지사항</h3>
			      <br>

            <table class="table">
              <colgroup>
                <col style="width:60px">
                <col style="">
                <col style="width:100px">
                <col style="width:100px">
              </colgroup>
              <thead>
                <tr>
                  <th>번호</th>
                  <th>제목</th>
                  <th>작성자</th>
                  <th class="th1">등록일</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="notice : ${ noticeList }" style="cursor:pointer">
                  <td th:text="${ notice.noticeNo }"></td>
                  <td th:text="${ notice.noticeName }"></td>
                  <td th:text="${ notice.empId }"></td>
                  <td th:text="${ notice.noticeRegistDate }"></td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- E: table -->

          <!-- S: search -->          
          <div class="input-group mb-3 col-7 d-flex justify-content-center">
            <select class="select_type1 mx-1">
              <option selected>전체</option>
              <option>작성자</option>
              <option>제목</option>
            </select>
            <input class="form-control me-2 col-4 mx-1" type="text" placeholder="검색어를 입력해주세요.">
            <button class="btn btn-warning" type="submit" style="color:#fff">검색</button>
          </div>	
          <!-- E: search -->      

          <!-- S: paging -->
          <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-light disabled" id="startPage"><<</button>
            <button type="button" class="btn btn-light mx-1 disabled"><</button>
            <button type="button" class="btn btn-warning mx-1" disabled style="color:white">1</button>
            <button type="button" class="btn btn-light mx-1">2</button>
            <button type="button" class="btn btn-light mx-1">></button>
            <button type="button" class="btn btn-light mx-1" id="maxPage">>></button> 
          </div>
          <!-- E: paging -->

        </div>
      </div> 
      <!-- E: main layout -->
      
    </div>
    <!-- E: container -->
  </div>
  <script>
    if(document.getElementsByTagName("td")) {
      const $tds = document.getElementsByTagName("td");
      for (let i = 0; i < $tds.length; i++) {

        $tds[i].onclick = function () {
          const noticeNo = this.parentNode.children[0].innerText;
          location.href = "/notice/view?noticeNo=" + noticeNo
        }
      }
    }
  </script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>