<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chicken.project.billTax.model.dao.BillTaxMapper">
    <resultMap id="billTaxResultMap" type="BillTaxDTO">
        <id property="taxNo" column="TAX_NO"/>
        <result property="storeNo" column="STORE_NO"/>
        <result property="storeName" column="STORE_NAME"/>
        <result property="storeAddress" column="STORE_ADDRESS"/>
        <result property="taxDate" column="TAX_DATE"/>
        <result property="itemName" column="ITEM_NAME"/>
        <result property="itemStandard" column="ITEM_STANDARD"/>
        <result property="itemSales" column="ITEM_SALES"/>
        <result property="storeRep" column="STORE_REP"/>
        <result property="recDate" column="REC_DATE"/>
        <result property="recAmount" column="REC_AMOUNT"/>
        <result property="recMoney" column="REC_MONEY"/>
        <result property="recTotalMoney" column="REC_TOTALMONEY"/>
        <result property="recCode" column="REC_CODE"/>
    </resultMap>

    <select id="selectBillTaxList" resultMap="billTaxResultMap">
        SELECT
               A.RNUM
             , A.TAX_NO
             , A.TAX_DATE
             , S.STORE_NO
             , S.STORE_NAME
             , S.STORE_ADDRESS
             , S.STORE_REP
             , RS.REC_TOTALMONEY
             , A.REC_CODE
          FROM (SELECT ROWNUM RNUM
                     , B.TAX_NO
                     , B.TAX_DATE
                     , B.REC_CODE
                  FROM (SELECT
                               C.TAX_NO
                             , TO_CHAR(C.TAX_DATE,'yyyy-MM-dd') AS TAX_DATE
                             , C.REC_CODE
                          FROM TAXBILL C
                         ORDER BY C.TAX_NO ASC ) B
                 <![CDATA[
                WHERE ROWNUM <= #{ endRow }
                  ]]>
            ) A
         JOIN RECEIVE_STORE RS ON (RS.REC_CODE = A.REC_CODE)
         JOIN STORE_ORDER SO ON (RS.ORDER_NO = SO.ORDER_NO)
         JOIN STORE S ON(S.STORE_NAME = RS.STORE_NAME)
        WHERE A.RNUM >= #{ startRow }
        ORDER BY A.TAX_NO ASC
    </select>

    <select id="selectTotalCount" resultType="_int" parameterType="hashmap">
        SELECT
        COUNT(*)
        FROM TAXBILL T
    </select>

    <select id="selectTaxMenuList" resultMap="billTaxResultMap" parameterType="String">
        SELECT
               II.ITEM_NAME
             , II.ITEM_STANDARD
             , II.ITEM_SALES
             , TO_CHAR(RS.REC_DATE, 'MM-dd') AS REC_DATE
             , RSI.REC_AMOUNT
             , RSI.REC_MONEY
             , RS.REC_CODE
        FROM RECEIVE_STORE RS
        JOIN RECEIVE_STORE_ITEM RSI ON (RSI.REC_CODE = RS.REC_CODE)
        JOIN ITEM_INFO II ON (II.ITEM_NO = RSI.ITEM_NO)
       WHERE RSI.REC_CODE = '${ recCode }'
    </select>

</mapper>