<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chicken.project.notice.model.dao.NoticeMapper">
    <resultMap id="noticeResultMap" type="NoticeDTO">
        <id property="noticeNo" column="NOTICE_NO"/>
        <result property="noticeName" column="NOTICE_NAME"/>
        <result property="noticeContent" column="NOTICE_CONTENT"/>
        <result property="noticeRegistDate" column="NOTICE_REGIST_DATE"/>
        <result property="noticeModifyDate" column="NOTICE_MODIFY_DATE"/>
        <result property="empId" column="EMP_ID"/>

        <collection property="originName" ofType="NoticeFileDTO">
            <result property="originName" column="ORIGIN_NAME"/>
        </collection>
    </resultMap>

    <resultMap id="noticeFileResultMap" type="NoticeFileDTO">
        <id property="fileNo" column="FILE_NO"></id>
        <result property="originName" column="ORIGIN_NAME"></result>
        <result property="fileName" column="FILE_NAME"></result>
        <result property="noticeNo" column="NOTICE_NO"></result>
    </resultMap>

    <select id="selectAllList" resultMap="noticeResultMap">
        SELECT
               A.*
             , B.ORIGIN_NAME
          FROM NOTICE A
          JOIN NOTICE_FILE B ON(A.NOTICE_NO = B.NOTICE_NO)
      ORDER BY A.NOTICE_NO DESC
    </select>

    <insert id="noticeInsert" parameterType="NoticeDTO">
        INSERT
          INTO NOTICE
        (
          NOTICE_NO
        , NOTICE_NAME
        , NOTICE_CONTENT
        , NOTICE_REGIST_DATE
        , NOTICE_MODIFY_DATE
        , EMP_ID
        )
        VALUES
        (
          SEQ_NOTICE_NO.NEXTVAL
        , #{ noticeName }
        , #{ noticeContent }
        , SYSDATE
        , NULL
        , 'test01'
        )
    </insert>

    <insert id="noticeFileInsert" parameterType="NoticeFileDTO">
        <selectKey keyProperty="noticeNo" order="BEFORE" resultType="_int">
            SELECT
                   SEQ_NOTICE_NO.CURRVAL
              FROM DUAL
        </selectKey>
        INSERT
          INTO NOTICE_FILE
        (
          FILE_NO
        , ORIGIN_NAME
        , FILE_NAME
        , NOTICE_NO
        )
        VALUES
        (
          SEQ_NOTICE_FILE_NO.NEXTVAL
        , #{ originName }
        , #{ fileName }
        , #{ noticeNo }
        )
    </insert>

    <select id="noticeViewByNo" resultMap="noticeResultMap">
        SELECT
               A.NOTICE_NO
             , A.NOTICE_NAME
             , A.NOTICE_CONTENT
             , B.ORIGIN_NAME
             , B.NOTICE_NO
          FROM NOTICE A
          JOIN NOTICE_FILE B ON (A.NOTICE_NO = B.NOTICE_NO)
         WHERE A.NOTICE_NO = #{ noticeNo }
    </select>
</mapper>
