<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chicken.project.notice.model.dao.OrderMapper">
    <resultMap id="orderResultMap" type="OrderDTO">
        <id property="itemNo" column="ITEM_NO"/>
        <result property="itemName" column="ITEM_NAME"/>
        <result property="categoryName" column="CATEGORY_NAME"/>
        <result property="itemStandard" column="ITEM_STANDARD"/>
        <result property="itemMake" column="ITEM_MAKE"/>
        <result property="itemSales" column="ITEM_SALES"/>
        <result property="storeAmount" column="STORE_AMOUNT"/>
        <result property="orderAmount" column="ORDER_AMOUNT"/>
        <result property="itemSoldoutYn" column="ITEM_SOLDOUT_YN"/>
        <result property="interYn" column="INTER_YN"/>
    </resultMap>

    <select id="findAllItem" resultMap="orderResultMap">
    SELECT
           A.ITEM_NO
         , A.ITEM_NAME
         , B.CATEGORY_NAME
         , A.ITEM_STANDARD
         , A.ITEM_MAKE
         , A.ITEM_SALES
         , C.STORE_AMOUNT
         , D.ORDER_AMOUNT
         , A.ITEM_SOLDOUT_YN
         , E.INTER_YN
      FROM ITEM_INFO A
      JOIN ITEM_CATEGORY B ON (A.CATEGORY_NO = B.CATEGORY_NO)
      JOIN STO_ITEM_INFO C ON (B.CATEGORY_NO = C.CATEGORY_NO)
      JOIN STORE_ORDER D ON (C.ITEM_NO = D.ITEM_NO)
      JOIN INTEREST E ON (D.ITEM_NO = E.ITEM_NO)
    </select>


</mapper>