<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chicken.project.order.model.dao.OrderMapper">
    <resultMap id="orderResultMap" type="OrderDTO">
        <id property="itemNo" column="ITEM_NO"/>
        <result property="itemName" column="ITEM_NAME"/>
        <result property="categoryName" column="CATEGORY_NAME"/>
        <result property="itemStandard" column="ITEM_STANDARD"/>
        <result property="itemMake" column="ITEM_MAKE"/>
        <result property="itemSales" column="ITEM_SALES"/>
        <result property="storeAmount" column="STORE_AMOUNT"/>
        <result property="orderAmount" column="ORDER_AMOUNT"/>
        <result property="itemSoldoutYn" column="ITEM_SOLDOUT_YN"/>
        <result property="interYn" column="INTER_YN"/>
        <result property="orderDate" column="ORDER_DATE"/>
    </resultMap>

    <select id="selectAllItem" resultMap="orderResultMap">
    SELECT
        B.ITEM_NO
         , B.ITEM_NAME
         , A.CATEGORY_NAME
         , B.ITEM_STANDARD
         , B.ITEM_MAKE
         , B.ITEM_SALES
         , C.STORE_AMOUNT
         , B.ITEM_SOLDOUT_YN
    FROM ITEM_CATEGORY A
             JOIN ITEM_INFO B ON (A.CATEGORY_NO = B.CATEGORY_NO)
             LEFT JOIN STO_ITEM_INFO C ON (B.ITEM_NO = C.ITEM_NO)
    WHERE C.STORE_NAME ='${storeName}' OR C.STORE_NAME IS NULL
    </select>

    <select id="selectTotalCount" resultType="_int" parameterType="hashmap">
    SELECT
    COUNT(*)
    FROM ITEM_INFO A
    </select>


</mapper>