<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chicken.project.reItem.model.dao.ReItemMapper">
    <resultMap id="reListResultMap" type="ReListDTO">
        <id property="rNo" column="R_NO"/>
        <result property="rDate" column="R_DATE"/>
        <result property="returnProgress" column="RETURN_PROGRESS"/>
        <result property="rDoneDate" column="R_DONE_DATE"/>
        <result property="storeName" column="STORE_NAME"/>
        <result property="storeRep" column="STORE_REP"/>
        <result property="rProgress" column="R_PROGRESS"/>
    </resultMap>

    <select id="selectTotalCount" resultType="_int" parameterType="hashmap">
        SELECT
               COUNT(*)
          FROM RETURN_ITEM
    </select>
    
    <select id="selectReList" resultMap="reListResultMap">
        SELECT
               A.RNUM
             , A.R_NO
             , A.R_DATE
             , A.RETURN_PROGRESS
             , TO_CHAR(RP.R_DONE_DATE,'yyyy-MM-dd') AS R_DONE_DATE
          FROM (SELECT ROWNUM RNUM
                     , B.R_NO
                     , B.R_DATE
                     , B.RETURN_PROGRESS
                  FROM (SELECT
                               DISTINCT C.R_NO
                             , TO_CHAR(C.R_DATE,'yyyy-MM-dd') AS R_DATE
                             , C.RETURN_PROGRESS
                          FROM RETURN_ITEM C
                         ORDER BY C.R_NO ASC ) B
                <![CDATA[
                   WHERE ROWNUM <= #{ endRow }
                ]]>
        ) A
        JOIN RETURN_PROGRESS RP ON (A.R_NO = RP.R_NO)
        WHERE A.RNUM >= #{ startRow }
        ORDER BY A.R_NO ASC
    </select>

    <select id="selectReturnList" resultMap="reListResultMap">
        SELECT
               DISTINCT A.RNUM
             , A.R_NO
             , S.STORE_NAME
             , S.STORE_REP
             , A.R_DATE
             , RP.R_PROGRESS
             , TO_CHAR(RP.R_DONE_DATE,'yyyy-MM-dd') AS R_DONE_DATE
             , A.RETURN_PROGRESS
        FROM (SELECT ROWNUM RNUM
                   , B.R_NO
                   , B.R_DATE
                   , B.RETURN_PROGRESS
              FROM (SELECT
                           DISTINCT C.R_NO
                         , TO_CHAR(C.R_DATE,'yyyy-MM-dd') AS R_DATE
                         , C.RETURN_PROGRESS
                      FROM RETURN_ITEM C
                     ORDER BY C.R_NO ASC ) B
              <![CDATA[
              WHERE ROWNUM <= #{ endRow }
              ]]>
        ) A
         JOIN RETURN_PROGRESS RP ON (A.R_NO = RP.R_NO)
         JOIN REITEM_HISTORY RH ON (RH.R_NO = A.R_NO)
         JOIN RETURN_ITEM_INFO RII ON(RII.ITEM_NO = RH.ITEM_NO)
         JOIN STORE S ON(S.STORE_NAME = RII.STORE_NAME)
        WHERE A.RNUM >= #{ startRow }
        ORDER BY A.R_NO ASC
    </select>
</mapper>