<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chicken.project.billTax.model.dao.TaxBillMapper">
    <resultMap id="taxBillResultMap" type="TaxBillDTO">
        <id property="taxNo" column="TAX_NO"/>
        <result property="taxDate" column="TAX_DATE"/>
        <result property="itemName" column="ITEM_NAME"/>
        <result property="itemStandard" column="ITEM_STANDARD"/>
        <result property="orderAmount" column="ORDER_AMOUNT"/>
        <result property="itemSales" column="ITEM_SALES"/>
        <result property="orderDate" column="ORDER_DATE"/>
        <result property="storeNo" column="STORE_NO"/>
        <result property="storeName" column="STORE_NAME"/>
        <result property="storeAddress" column="STORE_ADDRESS "/>
    </resultMap>

    <select id="selectTaxBillList" resultMap="taxBillResultMap">
        SELECT
            S.STORE_NO
             , S.STORE_NAME
             , S.STORE_ADDRESS
             , TB.TAX_DATE
             , SO.ORDER_DATE
             , II.ITEM_NAME
             , II.ITEM_STANDARD
             , SO.ORDER_AMOUNT
             , II.ITEM_SALES
        FROM TAXBILL TB
                 JOIN STORE_ORDER SO ON (TB.ORDER_NO = SO.ORDER_NO)
                 JOIN STORE S ON(S.STORE_NAME = SO.STORE_NAME)
                 JOIN ITEM_INFO II ON (II.ITEM_NO = SO.ITEM_NO)
    </select>
</mapper>