<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>이메일 인증</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/member/member.css}"/>
</head>
<body>
    <div class="wrap">
        <div class="box">
            <h3>이메일 인증</h3>
            <p>비밀번호 재설정을 위한 이메일 인증을 진행합니다. <br> 등록된 이메일을 입력해주세요.</p>
            
            <form action="/member/ckEmail" method="post">
                <input type="text" class="form_box" id="empId" name="empId" placeholder="아이디 입력"/>
                <input type="email" class="form_box" id="email" name="email" placeholder="이메일 입력"/>
                <button type="submit" id="code_btn">인증코드 발송</button> 
                <input type="text" class="form_box" id="code" name="code" placeholder="인증코드 입력"/>
                <button type="submit" id="btn" class="btn btn-warning">비밀번호 재설정</button>
            </form>
            <p class="copyright">Copyright © 2022 chickenstock. All rights reserved.</p>
        </div>
    </div>
</body>
</html>