<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 재설정</title>
    <link rel="shortcut icon" th:href="@{ /images/logo.png }" type="image/x-icon">

    <link rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{css/member/member.css}"/>
</head>
<body>
    <div class="wrap">
        <div class="box">
            <h3>비밀번호 재설정</h3>
            <p>비밀번호를 재설정합니다. <br> 새로운 비밀번호를 입력해주세요.</p>
            
            <form action="">
                <input type="password" class="form_box" id="pwd" name="pwd" placeholder="새 비밀번호 입력해주세요"/>
                <input type="password" class="form_box" id="re_pwd" name="re_pwd" placeholder="다시 한번 입력해주세요."/>
                <button type="submit" id="btn" class="btn btn-warning">비밀번호 재설정</button>
            </form>
            <p class="copyright">Copyright © 2022 chickenstock. All rights reserved.</p>
        </div>
    </div>
</body>
</html>