<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>

  <title>chicken stock</title>

  <link rel="stylesheet" href="../../assets/css/common.css"/>
  <link rel="stylesheet" href="../../assets/css/billtax/billtaxList.css"/>
  <!-- table css -->
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../../assets/css/style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="../../assets/js/common.js"></script>
</head>
<body>
  <div class="wrap">

    <!-- S: header -->
    <div class="header">
      <div class="logo">
        <a href="" title=""><img src="../../assets/images/logo.png" alt="logo"/></a>
      </div>
      <div class="logout_area">
        <button class="btn btn-outline-light">로그아웃</button>
      </div>
      <div class="user_area">
        <span>관리자</span>님, 환영합니다.
      </div>
    </div>
    <!-- S: header -->

    <!-- S: container -->
    <div class="container px-0">

      <!-- S: aside -->
      <div class="aside">
        <div class="accordion">

          <!-- 하위 메뉴가 없을때 -->
          <div class="accordion_dep type1 ">
            <a href="#" title="">홈</a>
          </div>

          <!-- 하위 메뉴가 있을때 -->
          <div class="accordion_dep type2">
            <a href="#" title="">마이페이지</a>
            <ul>
              <li>                
                 <a href="#" title="">비밀번호 수정</a>
              </li>
            </ul>
          </div>

          <div class="accordion_dep type1 ">
            <a href="#" title="">품목관리</a>
          </div>

          <div class="accordion_dep type1 ">
            <a href="#" title="">입고관리</a>
          </div>

          <div class="accordion_dep type1 ">
            <a href="#" title="">출고관리</a>
          </div>

          <div class="accordion_dep type2">
            <a href="#" title="">매입/매출관리</a>
            <ul>
              <li>                
                <a href="#" title="">매입전표</a>
             </li>
              <li>                
                <a href="#" title="">매출전표</a>
              </li>
            </ul>
          </div>

          <div class="accordion_dep type1 active">
            <a href="#" title="" class="active">세금계산서</a>
          </div>
          
          <div class="accordion_dep type1 ">
            <a href="#" title="">거래명세서</a>
          </div>

          <div class="accordion_dep type1 ">
            <a href="#" title="">가맹점관리</a>
          </div>

          <div class="accordion_dep type1 ">
            <a href="#" title="">공지사항</a>
          </div>

          <div class="accordion_dep type2">
            <a href="#" title="">관리자메뉴</a>
            <ul>
              <li>                
                <a href="#" title="">직원관리</a>
             </li>
              <li>                
                <a href="#" title="">예치금관리</a>
              </li>
              <li>                
                <a href="#" title="">공지사항 작성</a>
              </li>
              <li>                
                <a href="#" title="">일정관리</a>
              </li>
            </ul>
          </div>

          <!-- <div class="accordion_dep type2 active">   
            <ul style="display: block;"></ul> 
            a href class="active" -->           
        </div>
      </div>
      <!-- E: aside -->

      <!-- S: main layout -->
      <div class="main_layout">
        <div class="main_layout_inner">

          <!-- 작업 영역 -->
          <!-- S: table -->
          <div class="container-fluid" style="margin-top:30px; position: relative; z-index: 999;">
            <h3>세금계산서</h3>
			      <br>
            <div class="input-group mb-3 col-7">
              <select id="searchCondition" class="form-control" style="display: none ">
                <option value="date">날짜</option>
              </select>
              <input type="date" class="form-control col-2" id="searchValue" name="searchValue" value="">
              <button class="btn btn-light" type="button" disabled>~</button>
              <input type="date" class="form-control col-2" id="searchValue" name="searchValue" value="">
              <button class="btn btn-light px-3" type="button" disabled></button>
              <input class="form-control me-2 col-4" type="text" placeholder="검색어를 입력해주세요.">
              <button class="btn btn-warning" type="submit" style="color:#fff">검색</button>
            </div>	

            <table class="table">
              <thead>
                <tr>
                  <th>번호</th>
                  <th>가맹점 명</th>
                  <th>날짜</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>ㅇㅇ 가맹점</td>
                  <td>2022년 8월 18일</td>
                  <td><button onclick="openLayer('layerPop',140,430)" class="btn btn-warning me-1">세금계산서 확인하기</button>
                    <div class="box" id="layerPop" style="width: auto; height: auto; margin: 0 auto; margin-top: 100px; padding-top: 50px; background-color: #fff; display:none;">
                    <table id="taxTable" width='700' cellpadding='0' cellspacing='0' align='center' class='border_all_red'>
                    <tr>
                    <td width='100%'>
                        <table cellpadding='0' cellspacing='0' height='s5' width='100%'><tr>
                        <td rowspan='2' align='center' width='360' class='border_tit_red'><font size='6'><b>세 금 계 산 서</b></font></td>
                        <td rowspan='2' width='5' align='center' class='border_tit_red'><font size='4'><b>[</b></font></td>
                        <td rowspan='2' width='70' align='center' class='border_tit_red'>공 &nbsp;급 &nbsp;자&nbsp;<br>보 &nbsp;관 &nbsp;용&nbsp;</td>
                        <td rowspan='2' width='5' align='center' class='border_tit_red'><font size='4'><b>]</b></font></td>
                        <td align='right' width='85' class='border_tit_red'>책 번 호&nbsp;&nbsp;</td>
                        <td colspan='3' align='right' class='border_both_red'>권 &nbsp;</td>
                        <td colspan='4' align='right' class='border_tit_red'>호 &nbsp;</td>
                        </tr>
                        <tr>
                        <td width='85' align='right' class='border_tit_red'>일련번호&nbsp;</td>
                        <td colspan='1' class='border_back_red ' width='25'>&nbsp;</td>
                        <td colspan='1' class='border_up_red' width='25'>&nbsp;</td>
                        <td colspan='1' class='border_up_red' width='25'>&nbsp;</td>
                        <td colspan='1' class='border_up_red' width='25'>&nbsp;</td>
                        <td colspan='1' class='border_up_red' width='25'>&nbsp;</td>
                        <td colspan='1' class='border_up_red' width='25'>&nbsp;</td>
                        <td colspan='1' class='border_top_red' width='25'>&nbsp;</td>  <!-- 책,권 -->
                        </tr>
                        </table>
                    </td>
                    </tr>
                    <tr> 
                    <td>
                        <table cellpadding='0' cellspacing='0' width='700'>
                        <tr>
                        <td class='border_up_red' align='center' width='17' rowspan='4'>공<br><br><br>급<br><br><br>자</td>
                        <td class='border_up_red' align='center' width='55' height='33'>등록번호</td>
                        <td class='border_up_red' align='center' width='278' colspan='5'>&nbsp;</td>
                        <td class='border_up_red' align='center' width='17' rowspan='4'>공<br>급<br>받<br>는<br>자</td>
                        <td class='border_up_red' align='center' width='55'>등록번호</td>
                        <td class='border_top_red' align='center' width='278' colspan='5'><c:out value="${taxBill.registrationNo }"></c:out></td>
                        </tr>
                        <tr>
                        <td class='border_up_red' align='center' width='55' height='33'>상 호<br>(법입명)</td>
                        <td class='border_up_red' align='center' width='160' colspan='3'>치킨스톡</td>
                        <td class='border_up_red' align='center' width='12' colspan='1'>성<br>명</td>
                        <td class='border_up_red' align='right' width='94' colspan='1'>김지환 인</td>
                        <td class='border_up_red' align='center' width='55'>상 호<br>(법입명)</td>
                        <td class='border_up_red' align='center' width='160' colspan='3'><c:out value="${taxBill.accomoName }"></c:out></td>
                        <td class='border_up_red' align='center' width='12' colspan='1'>성<br>명</td>
                        <td class='border_top_red' align='right' width='94' colspan='1'><c:out value="${taxBill.ceoName }"></c:out> 인</td>
                        </tr>
                        <tr>
                        <td class='border_up_red' align='center' width='55' height='33'>사업장<br>주  소</td>
                        <td class='border_up_red' align='center' width='278' colspan='5'>서울시 강남구</td>
                        <td class='border_up_red' align='center' width='55'>사업장<br>주  소</td>
                        <td class='border_top_red' align='center' width='278' colspan='5'><c:out value="${taxBill.accomoAddress }"></c:out></td>
                        </tr>
                        <tr>
                        <td class='border_up_red' align='center' width='55' height='33'>업  태</td>
                        <td class='border_up_red' align='center' width='148' colspan='1'>식품업</td>
                        <td class='border_up_red' align='center' width='12' colspan='1'>종<br>목</td>
                        <td class='border_up_red' align='center' width='106' colspan='3'>&nbsp;</td>
                        <td class='border_up_red' align='center' width='55'>업 &nbsp; 태</td>
                        <td class='border_up_red' align='center' width='148' colspan='1'>식품업</td>
                        <td class='border_up_red' align='center' width='12' colspan='1'>종<br>목</td>
                        <td class='border_top_red' align='center' width='106' colspan='3'><c:out value="${taxBill.accomoType }"></c:out></td>
                        </tr>
                        </table>
                    </td>
                    </tr>
                    <tr>
                    <td width='100%'>
                        <table cellpadding='0' cellspacing='0' width='700'>
                        <tr>
                        <td class='border_up_red' align='center' width='85' height='21'>작 &nbsp; 성</td>
                        <td class='border_up_red' colspan='12' width='250' align='center'>공 &nbsp; 급 &nbsp; 가 &nbsp; 액</td>
                        <td class='border_up_red' rowspan='3' align='center' width='4' height='15'>&nbsp;</td>
                        <td class='border_up_red' colspan='10' align='center' width='190' height='15'>세 &nbsp; 액</td>
                        <td class='border_top_red' align='center' width='156'>비 &nbsp; 고</td>
                    </tr>
                    <tr>
                      <td class='border_up_red' align='center' width='85' height='21'>년 &nbsp; 월 &nbsp; 일</td>
                      <td class='border_up_red' align='center' width='35'><font size='1'>공란수</font></td>
                      <td class='border_up_red' align='center' width='20'>백</td>
                      <td class='border_up_red' align='center' width='20'>십</td>
                      <td class='border_up_red' align='center' width='20'>억</td>
                      <td class='border_up_red' align='center' width='20'>전</td>
                      <td class='border_up_red' align='center' width='20'>백</td>
                      <td class='border_up_red' align='center' width='20'>십</td>
                      <td class='border_up_red' align='center' width='20'>만</td>
                      <td class='border_up_red' align='center' width='20'>천</td>
                      <td class='border_up_red' align='center' width='20'>백</td>
                      <td class='border_up_red' align='center' width='20'>십</td>
                      <td class='border_up_red' align='center' width='20'>일</td>
                      
                      <td class='border_up_red' align='center' width='20'>십</td>
                      <td class='border_up_red' align='center' width='20'>억</td>
                      <td class='border_up_red' align='center' width='20'>전</td>
                      <td class='border_up_red' align='center' width='20'>백</td>
                      <td class='border_up_red' align='center' width='20'>십</td>
                      <td class='border_up_red' align='center' width='20'>만</td>
                      <td class='border_up_red' align='center' width='20'>천</td>
                      <td class='border_up_red' align='center' width='20'>백</td>
                      <td class='border_up_red' align='center' width='20'>십</td>
                      <td class='border_up_red' align='center' width='20'>일</td>
                      <td class='border_top_red' align='center' width='156' rowspan='2'>&nbsp;</td>
                    </tr>
                    <tr>
                      <td class='border_up_red' align='center' width='85' height='25'><script>document.write(year + '-' + month + '-' + date)</script></td>
                      <td class='border_up_red' align='center' width='35'>&nbsp;</td>
                      <td class='border_up_red' align='center' width='20'>&nbsp;</td>
                      <td class='border_up_red' align='center' width='20'>&nbsp;</td>
                      <td class='border_up_red' align='center' width='20'><script>document.write(last8)</script></td>
                      <td class='border_up_red' align='center' width='20'><script>document.write(last7)</script></td>
                      <td class='border_up_red' align='center' width='20'><script>document.write(last6)</script></td>
                      <td class='border_up_red' align='center' width='20'><script>document.write(last5)</script></td>
                      <td class='border_up_red' align='center' width='20'><script>document.write(last4)</script></td>
                      <td class='border_up_red' align='center' width='20'><script>document.write(last3)</script></td>
                      <td class='border_up_red' align='center' width='20'><script>document.write(last2)</script></td>
                      <td class='border_up_red' align='center' width='20'><script>document.write(last1)</script></td>
                      <td class='border_up_red' align='center' width='20'><script>document.write(last)</script></td>
                      
                      <td class='border_up_red' align='center' width='20'>&nbsp;</td>
                      <td class='border_up_red' align='center' width='20'><script>document.write(tax9)</script></td>
                      <td class='border_up_red' align='center' width='20'><script>document.write(tax8)</script></td>
                      <td class='border_up_red' align='center' width='20'><script>document.write(tax7)</script></td>
                      <td class='border_up_red' align='center' width='20'><script>document.write(tax6)</script></td>
                      <td class='border_up_red' align='center' width='20'><script>document.write(tax5)</script></td>
                      <td class='border_up_red' align='center' width='20'><script>document.write(tax4)</script></td>
                      <td class='border_up_red' align='center' width='20'><script>document.write(tax3)</script></td>
                      <td class='border_up_red' align='center' width='20'><script>document.write(tax2)</script></td>
                      <td class='border_up_red' align='center' width='20'><script>document.write(tax1)</script></td>
                    </tr>
                        </table>
                    </td>
                    </tr>
                    <tr>
                    <td width='100%'>
                        <table cellpadding='0' cellspacing='0' width='700'>
                        <tr>
                        <td class='border_up_red' align='center' width='50' height='21'>월 일</td>
                        <td class='border_up_red' align='center' width='195'>품 &nbsp; &nbsp; &nbsp; 목</td>
                        <td class='border_up_red' align='center' width='42'>규 격</td>
                        <td class='border_up_red' align='center' width='65'>수 량</td>
                        <td class='border_up_red' align='center' width='55'>단 가</td>
                        <td class='border_up_red' align='center' width='150'>공급가액</td>
                        <td class='border_up_red' align='center' width='83'>세 액</td>
                        <td class='border_top_red' align='center' width='60'>비고</td>
                        </tr>
                        <tr>
                        <td class='border_up_red' align='center' width='50' height='25'><c:out value="${taxBill.stlDate }"></c:out></td>
                        <td class='border_up_red' align='center' width='195'><c:out value="${taxBill.accomoName }"></c:out></td>
                        <td class='border_up_red' align='center' width='42'>&nbsp;</td>
                        <td class='border_up_red' align='center' width='65'><c:out value="${taxBill.count }"></c:out></td>
                        <td class='border_up_red' align='center' width='55'><c:out value="${taxBill.price }"></c:out></td>
                        <td class='border_up_red' align='center' width='150'><c:out value="${taxBill.supplyPrice }"></c:out></td>
                        <td class='border_up_red' align='center' width='83'><c:out value="${taxBill.tax }"></c:out></td>
                        <td class='border_top_red' align='center' width='60'>&nbsp;</td>
                        </tr>
                        <tr>
                        <td class='border_up_red' align='center' width='50' height='25'>&nbsp;</td>
                        <td class='border_up_red' align='center' width='195'>&nbsp;</td>
                        <td class='border_up_red' align='center' width='42'>&nbsp;</td>
                        <td class='border_up_red' align='center' width='65'>&nbsp;</td>
                        <td class='border_up_red' align='center' width='55'>&nbsp;</td>
                        <td class='border_up_red' align='center' width='150'>&nbsp;</td>
                        <td class='border_up_red' align='center' width='83'>&nbsp;</td>
                        <td class='border_top_red' align='center' width='60'>&nbsp;</td>
                        </tr>
                        <tr>
                        <td class='border_up_red' align='center' width='50' height='25'>&nbsp;</td>
                        <td class='border_up_red' align='center' width='195'>&nbsp;</td>
                        <td class='border_up_red' align='center' width='42'>&nbsp;</td>
                        <td class='border_up_red' align='center' width='65'>&nbsp;</td>
                        <td class='border_up_red' align='center' width='55'>&nbsp;</td>
                        <td class='border_up_red' align='center' width='150'>&nbsp;</td>
                        <td class='border_up_red' align='center' width='83'>&nbsp;</td>
                        <td class='border_top_red' align='center' width='60'>&nbsp;</td>
                        </tr>
                        <tr>
                        <td class='border_up_red' align='center' width='50' height='25'>&nbsp;</td>
                        <td class='border_up_red' align='center' width='195'>&nbsp;</td>
                        <td class='border_up_red' align='center' width='42'>&nbsp;</td>
                        <td class='border_up_red' align='center' width='65'>&nbsp;</td>
                        <td class='border_up_red' align='center' width='55'>&nbsp;</td>
                        <td class='border_up_red' align='center' width='150'>&nbsp;</td>
                        <td class='border_up_red' align='center' width='83'>&nbsp;</td>
                        <td class='border_top_red' align='center' width='60'>&nbsp;</td>
                        </tr>
                        </table>
                    </td>
                    </tr>
                    <tr>
                    <td width='100%'>
                        <table cellpadding='0' cellspacing='0' width='700'>
                        <tr align='justify'>
                        <td class='border_up_red' align='center' width='122' height='2'>합계금액</td>
                        <td class='border_up_red' align='center' width='108'>현 &nbsp; &nbsp; 금</td>
                        <td class='border_up_red' align='center' width='108'>수 &nbsp; &nbsp; 표</td>
                        <td class='border_up_red' align='center' width='108'>어 &nbsp; &nbsp; 음</td>
                        <td class='border_up_red' align='center' width='108'>외상미수금</td>
                        <td class='border_top_red' rowspan='2' align='center' width='143'>이 금액을 징수 함</td>
                        </tr>
                        <tr>
                        <td class='border_up_red' align='center' width='122' height='25'><c:out value="${taxBill.tax }"></c:out></td>
                        <td class='border_up_red' align='center' width='108'> V </td>
                        <td class='border_up_red' align='center' width='108'>&nbsp;</td>
                        <td class='border_up_red' align='center' width='108'>&nbsp;</td>
                        <td class='border_up_red' align='center' width='108'>&nbsp;</td>
                        </tr>
                        </table>
                    </td>
                    </tr>
                    </table>
                    <div class="close-btn" style="position: absolute; top: 45px; right: 5px;">
                      <a href="#" onclick="closeLayer('layerPop')" class="close">
                        <img onclick="closeLayer('layerPop')" class="close" src="../../assets/images/x.png" alt="" width="18" height="18">
                      </a>
                    </div>
                    </div>
                  </td>
                </tr>
                
                 
                <tr>
                  <td>2</td>
                  <td>ㅁㅁ 가맹점</td>
                  <td>2022년 8월 18일</td>
                  <td><button onclick="" class="btn btn-warning me-1">세금계산서 확인하기</button></td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>ㅍㅍ 가맹점</td>
                  <td>2022년 8월 18일</td>
                  <td><button onclick="" class="btn btn-warning me-1">세금계산서 확인하기</button></td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- E: table -->
          <!-- S: paging -->
          <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-light disabled" id="startPage"><<</button>
            <button type="button" class="btn btn-light mx-1 disabled"><</button>
            <button type="button" class="btn btn-warning mx-1" disabled style="color:white">1</button>
            <button type="button" class="btn btn-light mx-1">2</button>
            <button type="button" class="btn btn-light mx-1">></button>
            <button type="button" class="btn btn-light mx-1" id="maxPage">>></button> 
          </div>
          <!-- E: paging -->

        </div>
      </div> 
      <!-- E: main layout -->
      
    </div>
    <!-- E: container -->
  </div>
  <script>
    $(".detail-main").click(function() {
       $(this).next(".detail-sub-tr").find(".detail-sub").slideToggle(300);
       $(this).toggleClass('on').siblings().removeClass('on');
       $(this).next(".detail-sub-tr").find(".detail-sub").siblings(".detail-sub").slideUp(300);
    });

    function openLayer(IdName, tpos, lpos){
      var pop = document.getElementById(IdName);
      pop.style.display = "block";
      pop.style.top = tpos + "px";
      pop.style.left = lpos + "px";
    }
    function closeLayer(IdName){
      var pop = document.getElementById(IdName);
      pop.style.display = "none";
    }
  </script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>