<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>

  <title>chicken stock</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/common/common.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/billtax/tsbillList.css}"/>
    <!-- table css -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/common/style.css}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
  <div class="wrap">

      <!-- header -->
      <div th:include="common/userHeader.html"></div>

    <!-- S: container -->
    <div class="container px-0">

        <!-- sidebar -->
        <div th:replace="common/userSidebar.html"></div>

      <!-- S: main layout -->
      <div class="main_layout">
        <div class="main_layout_inner">
          <!-- 작업 영역 -->
          <div class="container-fluid" style="margin-top:30px; position: relative; z-index: 999;">
            <h3>거래명세서</h3>
                <br>
            <div class="input-group mb-3 col-7">
              <select id="searchCondition" class="form-control" style="display: none ">
                <option value="date">날짜</option>
              </select>
              <input type="date" class="form-control col-2" id="searchValue" name="searchValue" value="">
              <button class="btn btn-light" type="button" disabled>~</button>
              <input type="date" class="form-control col-2" id="searchValue" name="searchValue" value="">
              <button class="btn btn-light px-3" type="button" disabled></button>
              <input class="form-control me-2 col-4" type="text" placeholder="검색어를 입력해주세요.">
              <button class="btn btn-warning" type="submit" style="color:#fff">검색</button>
            </div>	

            <table class="table">
              <thead>
                <tr>
                  <th>번호</th>
                  <th>날짜</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="ts : ${ tsBillList }">
                  <td th:text="${ ts.tsNo }"></td>
                  <td th:text="${ ts.tsTaxDate }"></td>
                  <td><button onclick="openLayer('layerPop',110,230)" class="btn btn-warning me-1">거래명세서 확인하기</button>
                    <div id="layerPop"style="width: auto; height: auto; margin: 0 auto; margin-top: 100px; padding-top: 50px; background-color: #fff; display:none;">
                      <table id="taxTable" border="0" cellpadding="0" cellspacing="0" width="1000">
                        <colgroup><col style="width:25px;"><col style="width:40px;"><col style="width:10px;"><col style="width:70px;"><col style="width:20px;"><col style="width:40px;"><col style="width:20px;"><col style="width:10px;"><col style="width:50px;"><col style="width:20px;"><col style="width:20px;"><col style="width:25px;"><col style="width:30px;"><col style="width:20px;"><col style="width:50px;"><col style="width:10px;"><col style="width:10px;"><col style="width:20px;"><col style="width:40px;"><col style="width:20px;"><col style="width:20px;"><col style="width:30px;"><col style="width:80px;"></colgroup>
                        <tr height="6">
                            <td colspan="7"></td>
                            <td rowspan="3"></td>
                            <td
                                style="padding:6px;font-size:14pt;font-weight:bold;text-align:center;border-radius:6px;border:1px solid blue;background:#f4fbff; color:#1211ff;font-size:10pt;font-weight:bold;text-align:center;"
                                colspan="8"
                                rowspan="2">거 래 명 세 표</td>
                            <td rowspan="3"></td>
                            <td colspan="6"></td>
                        </tr>
                        <tr height="22">
                            <td
                                style="border-top:2px solid blue;border-right:1px solid blue;border-left:2px solid blue;background:#dbf4ff; color:#1211ff;font-size:10pt;text-align:center;"
                                colspan="2"
                                rowspan="2">일자</td>
                            <td
                                style="border-top:2px solid blue;border-right:2px solid blue;background:#f4fbff; color:#222;font-size:10pt;text-align:left;padding-left:6px;"
                                colspan="5"
                                rowspan="2" th:text="${ ts.tsTaxDate }"></td>
                            <td
                                style="color:#1211ff;font-size:9pt;text-align:right;"
                                colspan="6"
                                rowspan="2">(공급받는자 보관용)</td>
                        </tr>
                        <tr height="4">
                            <td colspan="8"></td>
                        </tr>
                        <tr>
                            <td
                                style="border-top:2px solid blue;border-right:1px solid blue;border-bottom:1px solid blue;border-left:2px solid blue;background:#dbf4ff; color:#1211ff;font-size:10pt;text-align:center;"
                                rowspan="4">공<br>급<br>자</td>
                            <td
                                style="height:32px;border-top:2px solid blue;border-right:1px solid blue;border-bottom:1px solid blue;background:#dbf4ff; color:#1211ff;font-size:9pt;text-align:center;">등록<br>번호</td>
                            <td
                                style="height:32px;border-top:2px solid blue;border-right:1px solid blue;border-bottom:1px solid blue;background:#f4fbff; color:#222;font-size:11pt;text-align:left;padding-left:6px;"
                                colspan="9">
                                <strong>125-14-05311</strong>
                            </td>
                            <td
                                style="border-top:2px solid blue;border-right:1px solid blue;border-bottom:1px solid blue; color:#1211ff;font-size:10pt;text-align:center;"
                                rowspan="4">공<br>급<br>받<br>는<br>자</td>
                            <td
                                style="height:32px;border-top:2px solid blue;border-right:1px solid blue;border-bottom:1px solid blue; color:#1211ff;font-size:10pt;text-align:center;">등록<br>번호</td>
                            <td
                                style="height:32px;border-top:2px solid blue;border-right:2px solid blue;border-bottom:1px solid blue; color:#222;font-size:11pt;text-align:left;padding-left:6px;"
                                colspan="10">
                                <strong th:text="${ ts.storeNo }"></strong>
                            </td>
                        </tr>
                        <tr>
                            <td
                                style="height:32px;border-right:1px solid blue;border-bottom:1px solid blue;background:#dbf4ff; color:#1211ff;font-size:9pt;text-align:center;">상호</td>
                            <td
                                style="height:32px;border-right:1px solid blue;border-bottom:1px solid blue;background:#f4fbff; color:#222;font-size:10pt;text-align:left;padding-left:6px;"
                                colspan="4">치킨스톡</td>
                            <td
                                style="height:32px;border-right:1px solid blue;border-bottom:1px solid blue;background:#dbf4ff; color:#1211ff;font-size:9pt;text-align:center;">성<br>명</td>
                            <td
                                style="height:32px;border-right:1px solid blue;border-bottom:1px solid blue;background:#f4fbff; color:#222;font-size:10pt;text-align:left;padding-left:6px;"
                                colspan="4">김지환 인</td>
                            <td
                                style="height:32px;border-right:1px solid blue;border-bottom:1px solid blue; color:#1211ff;font-size:10pt;text-align:center;">상호</td>
                            <td
                                style="height:32px;border-right:1px solid blue;border-bottom:1px solid blue; color:#222;font-size:9pt;text-align:left;padding-left:6px;"
                                colspan="6" th:text="${ ts.storeName }"></td>
                            <td
                                style="height:32px;border-right:1px solid blue;border-bottom:1px solid blue; color:#1211ff;font-size:10pt;text-align:center;">성<br>명</td>
                            <td
                                style="height:32px;border-right:2px solid blue;border-bottom:1px solid blue; color:#222;font-size:9pt;text-align:left;padding-left:6px;"
                                colspan="3" th:text="|${ ts.storeRep } 인|"></td>
                        </tr>
                        <tr>
                            <td
                                style="height:32px;border-right:1px solid blue;border-bottom:1px solid blue;background:#dbf4ff; color:#1211ff;font-size:9pt;text-align:center;">주소</td>
                            <td
                                style="height:32px;border-right:1px solid blue;border-bottom:1px solid blue;background:#f4fbff; color:#222;font-size:9pt;text-align:left;padding-left:6px;"
                                colspan="9">서울시 강남구</td>
                            <td
                                style="height:32px;border-right:1px solid blue;border-bottom:1px solid blue; color:#1211ff;font-size:10pt;text-align:center;">주소</td>
                            <td
                                style="height:32px;border-right:2px solid blue;border-bottom:1px solid blue; color:#222;font-size:9pt;text-align:left;padding-left:6px;"
                                colspan="10" 구></td>
                        </tr>
                        <tr>
                            <td
                                style="height:32px;border-right:1px solid blue;border-bottom:1px solid blue;background:#dbf4ff; color:#1211ff;font-size:9pt;text-align:center;">업태</td>
                            <td
                                style="height:32px;border-right:1px solid blue;border-bottom:1px solid blue;background:#f4fbff; color:#222;font-size:10pt;text-align:left;padding-left:6px;"
                                colspan="3">도매 및 소매업</td>
                            <td
                                style="height:32px;border-right:1px solid blue;border-bottom:1px solid blue;background:#dbf4ff; color:#1211ff;font-size:9pt;text-align:center;">종<br>목</td>
                            <td
                                style="height:32px;border-right:1px solid blue;border-bottom:1px solid blue;background:#f4fbff; color:#222;font-size:10pt;text-align:left;padding-left:6px;"
                                colspan="5">식품</td>
                            <td
                                style="height:32px;border-right:1px solid blue;border-bottom:1px solid blue; color:#1211ff;font-size:10pt;text-align:center;">업태</td>
                            <td
                                style="height:32px;border-right:1px solid blue;border-bottom:1px solid blue; color:#222;font-size:9pt;text-align:left;padding-left:6px;"
                                colspan="4">숙박 및 음식점업</td>
                            <td
                                style="height:32px;border-right:1px solid blue;border-bottom:1px solid blue; color:#1211ff;font-size:10pt;text-align:center;">종<br>목</td>
                            <td
                                style="height:32px;border-right:2px solid blue;border-bottom:1px solid blue; color:#222;font-size:9pt;text-align:left;padding-left:6px;"
                                colspan="5">치킨 전문점</td>
                        </tr>
                        <tr>
                            <td
                                style="height:22px;border-bottom:1px solid blue;border-left:2px solid blue; color:#1211ff;border-right:1px solid blue; font-size:9pt;text-align:center;"
                                colspan="2">거래일자</td>
                            <td
                                style="height:22px;border-right:1px solid blue;border-bottom:1px solid blue; color:#1211ff;font-size:9pt;text-align:center;"
                                colspan="8">품 &nbsp; 목 &nbsp; / &nbsp; 규 &nbsp; 격</td>
                            <td
                                style="height:22px;border-right:1px solid blue;border-bottom:1px solid blue; color:#1211ff;font-size:9pt;text-align:center;"
                                colspan="2">단위</td>
                            <td
                                style="height:22px;border-right:1px solid blue;border-bottom:1px solid blue; color:#1211ff;font-size:9pt;text-align:center;"
                                colspan="2">수량</td>
                            <td
                                style="height:22px;border-right:1px solid blue;border-bottom:1px solid blue; color:#1211ff;font-size:9pt;text-align:center;"
                                colspan="4">단가</td>
                            <td
                                style="height:22px;border-right:1px solid blue;border-bottom:1px solid blue; color:#1211ff;font-size:9pt;text-align:center;"
                                colspan="4">금액</td>
                            <td
                                style="height:22px;border-right:2px solid blue;border-bottom:1px solid blue; color:#1211ff;font-size:9pt;text-align:center;">세액</td>
                        </tr>
                        <tr>
                            <td
                                style="padding:2px;height:24px;border-left:2px solid blue;border-right:1px solid blue; color:#222;font-size:9pt;text-align:center;padding-left:6px;"
                                colspan="2" th:text="${ ts.recDate }"></td>
                            <td
                                style="padding:2px;height:24px;border-right:1px solid blue; color:#222;font-size:9pt;text-align:left;padding-left:6px;"
                                colspan="8" th:text="${ ts.itemName }"></td>
                            <td
                                style="padding:2px;height:24px;border-right:1px solid blue; color:#222;font-size:9pt;text-align:left;padding-left:6px;"
                                colspan="2" th:text="${ ts.itemStandard }"></td>
                            <td
                                style="padding:2px;height:24px;border-right:1px solid blue; color:#222;font-size:9pt;text-align:right;padding-left:6px;"
                                colspan="2" th:text="${ ts.recAmount }"></td>
                            <td
                                style="padding:2px;height:24px;border-right:1px solid blue; color:#222;font-size:9pt;text-align:right;padding-left:6px;"
                                colspan="4" th:text="${ ts.itemSales }"></td>
                            <td
                                style="padding:2px;height:24px;border-right:1px solid blue; color:#222;font-size:9pt;text-align:right;padding-left:6px;"
                                colspan="4"></td>
                            <td
                                style="padding:2px;height:24px;border-right:2px solid blue; color:#222;font-size:9pt;text-align:right;padding-left:6px;"></td>
                        </tr>
                        <tr>
                            <td
                                style="padding:2px;border-top:1px solid blue;border-right:1px solid blue;padding:4px;border-left:2px solid blue; color:#1211ff;font-size:9pt;text-align:center;"
                                colspan="2">공급<br>가액</td>
                            <td
                                style="padding:2px;border-top:1px solid blue;padding:4px;border-right:1px solid blue; color:#222;font-size:9pt;text-align:left;padding-left:6px;"
                                colspan="2"></td>
                            <td
                                style="padding:2px;border-top:1px solid blue;padding:4px;border-right:1px solid blue; color:#1211ff;font-size:9pt;text-align:center;">세<br>액</td>
                            <td
                                style="padding:2px;border-top:1px solid blue;padding:4px;border-right:1px solid blue; color:#222;font-size:9pt;text-align:left;padding-left:6px;"
                                colspan="4"></td>
                            <td
                                style="padding:2px;border-top:1px solid blue;padding:4px;border-right:1px solid blue; color:#1211ff;font-size:9pt;text-align:center;">합<br>계</td>
                            <td
                                style="padding:2px;border-top:1px solid blue;padding:4px;border-right:1px solid blue; color:#222;font-size:9pt;text-align:left;padding-left:6px;"
                                colspan="4"></td>
                            <td
                                style="padding:2px;border-top:1px solid blue;padding:4px;border-right:1px solid blue; color:#1211ff;font-size:9pt;text-align:center;">미수금</td>
                            <td
                                style="padding:2px;border-top:1px solid blue;padding:4px;border-right:1px solid blue; color:#222;font-size:9pt;text-align:left;padding-left:6px;"
                                colspan="4"> - </td>
                            <td
                                style="padding:2px;border-top:1px solid blue;padding:4px;border-right:1px solid blue; color:#1211ff;font-size:9pt;text-align:center;"
                                colspan="2">인수자</td>
                            <td
                                style="padding:2px;border-top:1px solid blue;padding:4px;border-right:2px solid blue; color:#222;font-size:9pt;text-align:left;padding-left:6px;"
                                colspan="2" th:text="${ ts.storeRep }"></td>
                        </tr>
                        <tr>
                            <td
                                style="padding:2px;height:24px;border-top:1px solid blue;border-bottom:2px solid blue;border-left:2px solid blue; color:#1211ff;font-size:9pt;text-align:center;"
                                colspan="3">참고사항</td>
                            <td
                                style="padding:2px;height:24px;border-top:1px solid blue;border-right:2px solid blue;border-bottom:2px solid blue;padding:4px; color:#222;font-size:9pt;text-align:left;padding-left:6px;"
                                colspan="20"></td>
                        </tr>
                    </table>
                      <div class="close-btn" style="position: absolute; top: 45px; right: 5px;">
                        <a href="#" onclick="closeLayer('layerPop')" class="close">
                          <img onclick="closeLayer('layerPop')" class="close" src="/images/x.png" alt="" width="18" height="18">
                        </a>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>2022년 8월 18일</td>
                  <td><button onclick="" class="btn btn-warning me-1">거래명세서 확인하기</button></td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>2022년 8월 18일</td>
                  <td><button onclick="" class="btn btn-warning me-1">거래명세서 확인하기</button></td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- E: table -->
          <!-- S: paging -->
          <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-light disabled" id="startPage"><<</button>
            <button type="button" class="btn btn-light mx-1 disabled"><</button>
            <button type="button" class="btn btn-warning mx-1" disabled style="color:white">1</button>
            <button type="button" class="btn btn-light mx-1">2</button>
            <button type="button" class="btn btn-light mx-1">></button>
            <button type="button" class="btn btn-light mx-1" id="maxPage">>></button> 
          </div>
          <!-- E: paging -->


        </div>
      </div>
      <!-- E: main layout -->
    </div>
    <!-- E: container -->
  </div>
  <!-- table js -->
  <script>
    $(".detail-main").click(function() {
       $(this).next(".detail-sub-tr").find(".detail-sub").slideToggle(300);
       $(this).toggleClass('on').siblings().removeClass('on');
       $(this).next(".detail-sub-tr").find(".detail-sub").siblings(".detail-sub").slideUp(300);
    });

    function openLayer(IdName, tpos, lpos){
      var pop = document.getElementById(IdName);
      pop.style.display = "block";
      pop.style.top = tpos + "px";
      pop.style.left = lpos + "px";
    }
    function closeLayer(IdName){
      var pop = document.getElementById(IdName);
      pop.style.display = "none";
    }
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>