<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>

  <title>chicken stock</title>

  <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}"/>
  <!-- table css -->
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" th:href="@{/css/release_detail.css}">
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>

  <style>
    .table tbody tr td:nth-last-child(1) {
	  border-radius: 0px 0px 0px 0px;
    }
    .table tbody tr td:nth-child(1) {
	  border-radius: 0px 0px 0px 0px;
    }
    div::-webkit-scrollbar-track {
      background-color: #f5f5f9;
    }
    div::-webkit-scrollbar-thumb {
      background-color: rgb(222, 222, 222);
    }
    .table tbody tr {
      border-bottom: 1px solid black;
    }
    .relese-text {
      margin: 20px 0 0 0;
      text-align: right;   
    }
    .release-btn {
      padding-right: 10px;
      display: inline-block;
    }
    .arrow {
      margin: 20px 0 20px 0;
      text-align: center;
    }
    .input-release {
      height: 38px;
      vertical-align: middle;
    }
    .container{
      max-width: 100%;
    }

  </style>
</head>
<body>
  <div class="wrap">
    <!-- S: header -->
    <div th:include="userHeader.html"></div>

    <!-- S: container -->
    <div class="container px-0">
      <div th:replace="userSidebar.html"></div>
      <!-- S: main layout -->
      <div class="main_layout">
        <div class="main_layout_inner">

          <!-- 작업 영역 -->
          <!-- S: table -->
          <div class="container-fluid" style="margin-top:30px">
            <h3>
              <a href="release_list.html">출고내역</a> ㅣ <a href="release_order.html">출고서작성</a></h3>
			      <br>
            <div class="input-group mb-3 col-5 float-right" style="min-width: max-content">
              <select id="searchCondition" class="form-control" style="min-width: max-content">
                <option value="date">요청일</option>
                <option value="date">지점명</option>
              </select>
              <button class="btn btn-light px-1" type="button" disabled></button>
              <input type="date" class="form-control"  name="searchValue" value="" style="min-width: max-content">
              <button class="btn btn-light" type="button" disabled>~</button>
              <input type="date" class="form-control"  name="searchValue" value="" style="min-width: max-content">
              <button class="btn btn-light px-1" type="button" disabled></button>
              <input class="form-control me-2" type="text" placeholder="검색어를 입력해주세요." style="min-width: max-content">
              <button class="btn btn-warning" type="submit" style="color:#fff">검색</button>
            </div>
            <div style="height: 250px; width: 100%; overflow: auto;">
            <table class="table" style="border-spacing: 0;padding: 0px; margin-bottom: 20px;">
              <thead>
                <tr>
                  <th>상품코드</th>
                  <th>상품명</th>
                  <th>카테고리</th>
                  <th>규격</th>
                  <th>제조사(원산지)</th>
                  <th>매입단가</th>
                  <th>매출단가</th>
                  <th>발주수량</th>
                  <th>지점명</th>
                  <th>요청일</th>
                  <th>추가</th>
                </tr>
              </thead>
              <tbody class="release-tbody-delete">
                <tr th:each="order : ${ orderList }" class="release-tr-add">
                  <td th:text="${ order.orderNo }"></td>
                  <td th:text="${ order.itemInfoDTO.itemName }"></td>
                  <td th:text="${ order.itemCategoryDTO.categoryName}"></td>
                  <td th:text="${ order.itemInfoDTO.itemStandard}"></td>
                  <td th:text="${ order.itemInfoDTO.itemMake}"></td>
                  <td th:text="${ order.itemInfoDTO.itemPurchase}"></td>
                  <td th:text="${ order.itemInfoDTO.itemSales}"></td>
                  <td th:text="${ order.orderAmount}"></td>
                  <td th:text="${ order.storeName }"></td>
                  <td th:text="${ order.orderDate }"></td>
                  <td class="plus-btn"><img src="/images/plus.png" width="23" height="23" class="plusImg"></td>
                </tr>
              </tbody>
            </table>
            </div>
          <div class="arrow">
            <img src="/images/blackarrow.png" width="35" height="35" alt="">
          </div>
          <div style="height: 250px; width: 100%; overflow: auto; ">
          <table class="table" style="border-spacing: 0;padding: 0px; margin: 0px;">       
            <thead>
              <tr>
                <th>상품코드</th>
                <th>상품명</th>
                <th>카테고리</th>
                <th>규격</th>
                <th>제조사(원산지)</th>
                <th>매입단가</th>
                <th>매출단가</th>
                <th>발주수량</th>
                <th>지점명</th>
                <th>요청일</th>
                <th>추가</th>
              </tr>
            </thead>
            <tbody class="release-tbody-add">
            </tbody>
          </table>
          </div>
          <table class="table" style="border-spacing: 0;padding: 0px; margin: 0px;">       
            <thead>
              <tr>
                <td style="padding: 0px;">
                  <div class="relese-text">
                    <input class="input-release" type="text" placeholder="품목명">
                    <input class="input-release" type="text" placeholder="총매출단가">
                    <button class="btn btn-warning" type="submit" style="color:#fff">등록</button>
                    <button class="btn btn-warning" type="submit" style="color:#fff">취소</button>
                  </div>
                </td>
              </tr>
            </thead>
          </table>

          </div>
        </div>
      </div> 
      <!-- E: main layout -->
      
    </div>
    <!-- E: container -->
  </div>
  <style>
    th {
      vertical-align: inherit;
      font-weight: bold;
      text-align: center;
    }
  </style>
  <script>
    $(".detail-main").click(function() {
       $(this).next(".detail-sub-tr").find(".detail-sub").slideToggle(300);
       $(this).toggleClass('on').siblings().removeClass('on');
       $(this).next(".detail-sub-tr").find(".detail-sub").siblings(".detail-sub").slideUp(300);
    });

    $(document).on("click", ".plus-btn", function(){
      var $trAdd = $(this).parent(".release-tr-add");
      var $tbodyAdd = $(".release-tbody-add");
      $tbodyAdd.append($trAdd);
      if($trAdd.parent = $tbodyAdd){
        $tbodyAdd.find(".plus-btn").removeClass('plus-btn').addClass('minus-btn');
        $tbodyAdd.find(".release-tr-add").removeClass('release-tr-add').addClass('release-tr-delete');
        $tbodyAdd.find(".plusImg").attr('src', '/images/minus.png');
        $tbodyAdd.find(".plusImg").removeClass('plusImg').addClass('minusImg');
      }
    }); 

    $(document).on("click", ".minus-btn", function(){
      var $trDelete = $(this).parent(".release-tr-delete");
      var $tbodyDelete = $(".release-tbody-delete");
      $tbodyDelete.append($trDelete);
      if($trDelete.parent = $tbodyDelete){
        $tbodyDelete.find(".minus-btn").removeClass('minus-btn').addClass('plus-btn');
        $tbodyDelete.find(".release-tr-delete").removeClass('release-tr-delete').addClass('release-tr-add');
        $tbodyDelete.find(".minusImg").attr('src', '/images/plus.png');
        $tbodyDelete.find(".minusImg").removeClass('minusImg').addClass('plusImg');
      }
    });

  function openLayer(IdName, tpos, lpos){
		var pop = document.getElementById(IdName);
		pop.style.display = "block";
		pop.style.top = tpos + "px";
		pop.style.left = lpos + "px";
	}
  function closeLayer(IdName){
		var pop = document.getElementById(IdName);
		pop.style.display = "none";
	}

  // function trAdd(){
  //   var trAdd = document.getElementById("release-tr-add");
  //   var eventTarget = event.target;
  //   var currentTarget = event.currentTarget;
  //   var plusBtn = document.getElementsByClassName("plus-btn");
  //   var tbody = document.getElementById("release-tbody");

  //   console.log(eventTarget);
  //   console.log(currentTarget);
  //   console.log(plusBtn);
  //   tbody.append(trAdd);
  // }

</script>
<!-- table js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<!-- datepicker js -->
<script src="/js/daterange.js"></script>
</body>
</html>