<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>

    <title>chicken stock</title>

    <link rel="stylesheet" th:href="@{/css/common/common.css}"/>
    <!-- table css -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/common/style.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/release/release_detail.css}">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="/js/common.js"></script>
</head>
<body>
<div class="wrap">
    <!-- S: header -->
    <div th:include="common/adminHeader.html"></div>

    <!-- S: container -->
    <div class="container px-0">
        <div th:replace="common/adminSidebar.html"></div>
        <!-- S: main layout -->
        <div class="main_layout">
            <div class="main_layout_inner">

                <!-- 작업 영역 -->
                <!-- S: table -->
                <div class="container-fluid" style="margin-top:30px">
                    <h3>
                        <a th:href="@{/release/releaseSelect}">출고내역</a> ㅣ <a th:href="@{/release/orderSelect}">출고서작성</a>
                    </h3>
                    <br>
                    <div class="input-group mb-3 col-5 float-right" style="min-width: max-content">
                        <select id="searchCondition" class="form-control" style="min-width: max-content">
                            <option value="date">요청일</option>
                            <option value="date">출고완료일</option>
                            <option value="date">지점명</option>
                            <option value="date">출고상태</option>
                        </select>
                        <button class="btn btn-light px-1" type="button" disabled></button>
                        <input type="date" class="form-control" name="searchValue" value=""
                               style="min-width: max-content">
                        <button class="btn btn-light" type="button" disabled>~</button>
                        <input type="date" class="form-control" name="searchValue" value=""
                               style="min-width: max-content">
                        <button class="btn btn-light px-1" type="button" disabled></button>
                        <input class="form-control me-2" type="text" placeholder="검색어를 입력해주세요."
                               style="min-width: max-content">
                        <button class="btn btn-warning" type="submit" style="color:#fff">검색</button>
                    </div>

                    <table class="table">
                        <thead>
                        <tr>
                            <th>
                                <div class="form-check pb-3">
                                    <input type="checkbox" class="form-check-input" disabled>
                                </div>
                            </th>
                            <th>번호</th>
                            <th>지점</th>
                            <th>품목</th>
                            <th>금액</th>
                            <th>출고서등록일</th>
                            <th>출고완료일</th>
                            <th>출고상태</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="detail-main" th:each="release : ${ releaseSelect }">
                            <td>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" name="option"
                                           value="something">
                                    <label class="form-check-label"></label>
                                </div>
                            </td>
                            <td th:text="${ release.relCode }"></td>
                            <td th:text="${ release.storeName }"></td>
                            <td th:text="${ release.relName }"></td>
                            <td th:text="${ release.totalMoney }"></td>
                            <td th:text="${ release.relListDate }"></td>
                            <td th:text="${ release.relDate }"></td>
                            <td th:text="${ release.relYn }"></td>
                        </tr>
                        <tr class="detail-sub-tr">
                            <td class="detail-sub-td p-0" colspan="9">
                                <div class="detail-sub">
                                    <table width="100%">
                                        <thead>
                                        <tr>
                                            <th>
                                                <div class="form-check pb-3">
                                                    <input type="checkbox" class="form-check-input" disabled>
                                                </div>
                                            </th>
                                            <th>번호</th>
                                            <th>상품코드</th>
                                            <th>썸네일</th>
                                            <th>상품명</th>
                                            <th>카테고리</th>
                                            <th>규격</th>
                                            <th>제조사(원산지)</th>
                                            <th>매출단가</th>
                                            <th>발주수량</th>
                                            <th>재고량</th>
                                            <th>출고입력</th>
                                            <th>요청일</th>
                                            <th>출고완료일</th>
                                            <th>출고상태</th>
                                        </tr>
                                        </thead>
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input"
                                                           name="option" value="something">
                                                    <label class="form-check-label"></label>
                                                </div>
                                            </td>
                                            <td>1</td>
                                            <!-- 상품상세조회 레이어 -->
                                            <td>
                                                <button onclick="openLayer('layerPop',100,300)" class="open-btn">
                                                    100000
                                                </button>
                                            </td>
                                            <div id="layerPop" style="display:none;">
                                                <!-- <h2 class="mb-5">품목 관리</h2> -->
                                                <div class="bg-white shadow rounded-lg d-block d-sm-flex"
                                                     style="height: max-content;">
                                                    <div class="profile-tab-nav border-right">
                                                        <div class="p-4">
                                                            <div class="img-rounded text-center mb-3">
                                                                <img src="/images/chicken.jpg" alt="Image"
                                                                     class="thum-detail" width="200" height="200">
                                                            </div>
                                                            <h4 class="text-center">chicken stock</h4>
                                                        </div>
                                                        <div class="nav flex-column nav-pills " id="v-pills-tab"
                                                             role="tablist" aria-orientation="vertical">
                                                            <a class="nav-link active" id="item-tab" data-toggle="pill"
                                                               href="#item" role="tab" aria-controls="item"
                                                               aria-selected="true">
                                                                <i class="fa fa-shopping-cart text-warning mr-1"></i>
                                                                상품 상세 조회
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="row-md-4">
                                                            <label class="mb-2">상품명</label>
                                                            <input type="text" class="form-control" value="닭다리">
                                                        </div>
                                                        <div class="row-md-4">
                                                            <label class="mb-2">1차 카테고리</label>
                                                            <input type="text" class="form-control" value="식재료">
                                                        </div>
                                                        <div class="row-md-4">
                                                            <label class="mb-2">매입 단가</label>
                                                            <input type="text" class="form-control" value="5,500">
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="row-md-4">
                                                            <label class="mb-2">상품 코드</label>
                                                            <input type="text" class="form-control" value="100000">
                                                        </div>
                                                        <div class="row-md-4">
                                                            <label>2차 카테고리</label>
                                                            <input type="text" class="form-control" value="닭고기">
                                                        </div>
                                                        <div class="row-md-4">
                                                            <label class="mb-2">매출 단가</label>
                                                            <input type="text" class="form-control" value="6,000">
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="row-md-4">
                                                            <label class="mb-2">제조사</label>
                                                            <input type="text" class="form-control" value="하림(국내산)">
                                                        </div>
                                                        <div class="row-md-4">
                                                            <label class="mb-2">판매규격</label>
                                                            <input type="text" class="form-control" value="1kg">
                                                        </div>
                                                        <div class="row-md-4">
                                                            <label class="mb-2">재고량</label>
                                                            <input type="text" class="form-control" value="1,700">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="close-btn">
                                                    <a href="#" onclick="closeLayer('layerPop')" class="close">
                                                        <img onclick="closeLayer('layerPop')" class="close"
                                                             src="/images/x.png" alt="" width="18"
                                                             height="18">
                                                    </a>
                                                </div>
                                                <div class="detail-btn">
                                                    <button class="btn btn-warning" type="submit" style="color:#fff">
                                                        수정
                                                    </button>
                                                    <button class="btn btn-warning" type="submit" style="color:#fff">
                                                        입고
                                                    </button>
                                                </div>
                                            </div>
                                            <td>
                                                <div class="img-info">
                                                    <div class="img-info__img">
                                                        <img src="/images/chicken.jpg" alt="">
                                                    </div>
                                                </div>
                                            </td>
                                            <td>닭다리</td>
                                            <td>식재료</td>
                                            <td>1kg</td>
                                            <td>하림(국내산)</td>
                                            <td>4,500원</td>
                                            <td>30ea</td>
                                            <td>30ea</td>
                                            <td>
                                                <input type="number"
                                                       style="width:60px; text-align: center; border: 1px solid rgb(255, 255, 255); border-bottom: 1px solid; ">
                                                <button type="submit" style="border : none; background-color: #fff;">
                                                    <img src="/images/truck.png" alt="출고" width="35px" height="35px">
                                                </button>
                                            </td>
                                            <td>22/8/21</td>
                                            <td></td>
                                            <td>N</td>
                                        </tr>
                                    </table>
                                </div>
                            </td>
                        </tr>


                        </tbody>
                    </table>
                </div>
                <!-- E: table -->
                <!-- S: paging -->
                <!-- <div class="d-flex justify-content-center">
                  <button type="button" class="btn btn-light disabled" id="startPage"><<</button>
                  <button type="button" class="btn btn-light mx-1 disabled"><</button>
                  <button type="button" class="btn btn-warning mx-1" disabled style="color:white">1</button>
                  <button type="button" class="btn btn-light mx-1">2</button>
                  <button type="button" class="btn btn-light mx-1">></button>
                  <button type="button" class="btn btn-light mx-1" id="maxPage">>></button>
                </div> -->
                <!-- E: paging -->

            </div>
        </div>
        <!-- E: main layout -->

    </div>
    <!-- E: container -->
</div>
<style>

</style>
<script>
    $(".detail-main").click(function () {
        $(this).next(".detail-sub-tr").find(".detail-sub").slideToggle(300);
        $(this).toggleClass('on').siblings().removeClass('on');
        $(this).next(".detail-sub-tr").find(".detail-sub").siblings(".detail-sub").slideUp(300);
    });

    function openLayer(IdName, tpos, lpos) {
        var pop = document.getElementById(IdName);
        pop.style.display = "block";
        pop.style.top = tpos + "px";
        pop.style.left = lpos + "px";
    }

    function closeLayer(IdName) {
        var pop = document.getElementById(IdName);
        pop.style.display = "none";
    }
</script>
<!-- table js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<!-- datepicker js -->
<script src="/js/daterange.js"></script>
</body>
</html>