<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>

  <title>chicken stock</title>

  <!-- table css -->
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/style.css">
  <link rel="stylesheet" href="../assets/css/common.css"/>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="../assets/js/common.js"></script>

</head>
<body>
  <div class="wrap">

    <!-- S: header -->
    <div class="header">
      <div class="logo">
        <a href="" title=""><img src="../assets/images/logo.png" alt="logo"/></a>
      </div>
      <div class="logout_area">
        <button class="btn btn-outline-light">로그아웃</button>
      </div>
      <div class="user_area">
        <span>가맹점</span>님, 환영합니다.
      </div>
    </div>
    <!-- S: header -->

    <!-- S: container -->
    <div class="container">

      <!-- S: aside -->
      <div class="aside">
        <div class="accordion">

          <!-- 하위 메뉴가 없을때 -->
          <div class="accordion_dep type1 ">
            <a href="#" title="">홈</a>
          </div>

          <div class="accordion_dep type2">
            <a href="#" title="">마이페이지</a>
            <ul>
              <li>                
                 <a href="#" title="">예치금 관리</a>
              </li>
              <li>                
                 <a href="#" title="">비밀번호 재설정</a>
              </li>
            </ul>
          </div>

          <div class="accordion_dep type1 ">
            <a href="#" title="">품목관리</a>
          </div>

          <div class="accordion_dep type1 ">
            <a href="#" title="">발주</a>
          </div>

          <div class="accordion_dep type1 ">
            <a href="#" title="">입고 조회</a>
          </div>

          <div class="accordion_dep type1 ">
            <a href="#" title="">반품관리</a>
          </div>

          <div class="accordion_dep type1 ">
            <a href="#" title="">매입전표</a>
          </div>
          
          <div class="accordion_dep type1 ">
            <a href="#" title="">세금계산서</a>
          </div>

          <div class="accordion_dep type1 ">
            <a href="#" title="">거래명세서</a>
          </div>

          <div class="accordion_dep type1 ">
            <a href="#" title="">공지사항</a>
          </div>
          
          <div class="accordion_dep type1 ">
            <a href="#" title="">가맹점 조회</a>
          </div>

          <!-- <div class="accordion_dep type2 active"> 선택된 페이지 활성화 active  <ul style="display: block;"></ul> class="active  선택된 페이지 활성화 active -->
        </div>
      </div>
      <!-- E: aside -->

      <!-- S: main layout -->
      <div class="main_layout">
        <div class="main_layout_inner">

          <!-- 작업 영역 -->
          <!-- S: table -->
          <div class="container-fluid" style="margin-top:30px">
            <h3>품목 관리</h3>
			      <br>
            <div class="input-group mb-3 col-7">
              <select id="searchCondition" class="form-control" style="display: none ">
                <option value="date">날짜</option>
              </select>
              <input type="date" class="form-control col-2" id="searchValue" name="searchValue" value="">
              <button class="btn btn-light" type="button" disabled>~</button>
              <input type="date" class="form-control col-2" id="searchValue" name="searchValue" value="">
              <button class="btn btn-light px-3" type="button" disabled></button>
              <input class="form-control me-2 col-4" type="text" placeholder="검색어를 입력해주세요.">
              <button class="btn btn-warning" type="submit" style="color:#fff">검색</button>
            </div>	

            <table class="table">
              <thead>
                <tr>
                  <th>
                    <div class="form-check pb-3">
                      <input type="checkbox" class="form-check-input" disabled>
                      </div>
                  </th>
                  <th>번호</th>
                  <th>상품코드</th>
                  <th>썸네일</th>
                  <th>상품명</th>
                  <th>카테고리</th>
                  <th>규격</th>
                  <th>제조사(원산지)</th>
                  <th>매입단가</th>
                  <th>매출단가</th>
                  <th>재고량</th>
                  <th>품절여부</th>
                  <th>수정</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="check" name="option" value="something">
                      <label class="form-check-label" for="check"></label>
                    </div>
                  </td>
                  <td>1</td>
                  <td>100000</td>
                  <td>
                    <div class="img-info">
                      <div class="img-info__img">
                        <img src="../assets/images/chicken.jpg" alt="">
                      </div>
                    </div>
                  </td>
                  <td>닭다리</td>
                  <td>식재료</td>
                  <td>1kg</td>
                  <td>하림(국내산)</td>
                  <td>5,500</td>
                  <td>6,000</td>
                  <td>100</td>
                  <td>
                    <span class="active-circle bg-danger"></span>품절
                  </td>
                  <td>
                    <div class="dropdown open">
                      <a href="#!" class="px-2" id="triggerId1" data-toggle="dropdown" aria-haspopup="true"
                          aria-expanded="false">
                            <i class="fa fa-ellipsis-v"></i>
                      </a>
                      <div class="dropdown-menu" aria-labelledby="triggerId1">
                        <!-- <a class="dropdown-item" href="#"><i class="fa fa-eye mr-1"></i>View</a> -->
                        <a class="dropdown-item" href="#"><i class="fa fa-pencil mr-1"></i> Edit</a>
                        <a class="dropdown-item text-danger" href="#"><i class="fa fa-trash mr-1"></i> Delete</a>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="check" name="option" value="something">
                      <label class="form-check-label" for="check"></label>
                    </div>
                  </td>
                  <td>1</td>
                  <td>100000</td>
                  <td>
                    <div class="img-info">
                      <div class="img-info__img">
                        <img src="../assets/images/chicken.jpg" alt="">
                      </div>
                    </div>
                  </td>
                  <td>닭다리</td>
                  <td>식재료</td>
                  <td>1kg</td>
                  <td>하림(국내산)</td>
                  <td>5,500</td>
                  <td>6,000</td>
                  <td>100</td>
                  <td>
                    <span class="active-circle bg-danger"></span>품절
                  </td>
                  <td>
                    <div class="dropdown open">
                      <a href="#!" class="px-2" id="triggerId1" data-toggle="dropdown" aria-haspopup="true"
                          aria-expanded="false">
                            <i class="fa fa-ellipsis-v"></i>
                      </a>
                      <div class="dropdown-menu" aria-labelledby="triggerId1">
                        <!-- <a class="dropdown-item" href="#"><i class="fa fa-eye mr-1"></i>View</a> -->
                        <a class="dropdown-item" href="#"><i class="fa fa-pencil mr-1"></i> Edit</a>
                        <a class="dropdown-item text-danger" href="#"><i class="fa fa-trash mr-1"></i> Delete</a>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="check" name="option" value="something">
                      <label class="form-check-label" for="check"></label>
                    </div>
                  </td>
                  <td>1</td>
                  <td>100000</td>
                  <td>
                    <div class="img-info">
                      <div class="img-info__img">
                        <img src="../assets/images/chicken.jpg" alt="">
                      </div>
                    </div>
                  </td>
                  <td>닭다리</td>
                  <td>식재료</td>
                  <td>1kg</td>
                  <td>하림(국내산)</td>
                  <td>5,500</td>
                  <td>6,000</td>
                  <td>100</td>
                  <td>
                    <span class="active-circle bg-success"></span>보유
                  </td>
                  <td>
                    <div class="dropdown open">
                      <a href="#!" class="px-2" id="triggerId1" data-toggle="dropdown" aria-haspopup="true"
                          aria-expanded="false">
                            <i class="fa fa-ellipsis-v"></i>
                      </a>
                      <div class="dropdown-menu" aria-labelledby="triggerId1">
                        <!-- <a class="dropdown-item" href="#"><i class="fa fa-eye mr-1"></i>View</a> -->
                        <a class="dropdown-item" href="#"><i class="fa fa-pencil mr-1"></i> Edit</a>
                        <a class="dropdown-item text-danger" href="#"><i class="fa fa-trash mr-1"></i> Delete</a>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- E: table -->
          <!-- S: paging -->
          <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-light disabled" id="startPage"><<</button>
            <button type="button" class="btn btn-light mx-1 disabled"><</button>
            <button type="button" class="btn btn-warning mx-1" disabled style="color:white">1</button>
            <button type="button" class="btn btn-light mx-1">2</button>
            <button type="button" class="btn btn-light mx-1">></button>
            <button type="button" class="btn btn-light mx-1" id="maxPage">>></button> 
          </div>
          <!-- E: paging -->
        </div>
      </div>
      <!-- E: main layout -->
    </div>
    <!-- E: container -->
  </div>
  <!-- table js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>