<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>

  <title>chicken stock</title>

  <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/notice.css}"/>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="/js/common.js"></script>


</head>
<body>
  <div class="wrap">

    <!-- S: header -->
    <div class="header">
      <div class="logo">
        <a href="" title=""><img src="/images/logo.png" alt="logo"/></a>
      </div>
      <div class="logout_area">
        <button class="btn btn-outline-light">로그아웃</button>
      </div>
      <div class="user_area">
        <span>관리자</span>님, 환영합니다.
      </div>
    </div>
    <!-- S: header -->

    <!-- S: container -->
    <div class="container px-0">

      <!-- S: aside -->
      <div class="aside">
        <div class="accordion">

          <!-- 하위 메뉴가 없을때 -->
          <div class="accordion_dep type1 ">
            <a href="#" title="">홈</a>
          </div>

          <!-- 하위 메뉴가 있을때 -->
          <div class="accordion_dep type2">
            <a href="#" title="">마이페이지</a>
            <ul>
              <li>                
                 <a href="#" title="">비밀번호 수정</a>
              </li>
            </ul>
          </div>

          <div class="accordion_dep type1 ">
            <a href="#" title="">품목관리</a>
          </div>

          <div class="accordion_dep type1 ">
            <a href="#" title="">입고관리</a>
          </div>

          <div class="accordion_dep type1 ">
            <a href="#" title="">출고관리</a>
          </div>

          <div class="accordion_dep type2">
            <a href="#" title="">매입/매출관리</a>
            <ul>
              <li>                
                <a href="#" title="">매입전표</a>
             </li>
              <li>                
                <a href="#" title="">매출전표</a>
              </li>
            </ul>
          </div>

          <div class="accordion_dep type1 ">
            <a href="#" title="">세금계산서</a>
          </div>
          
          <div class="accordion_dep type1 ">
            <a href="#" title="">거래명세서</a>
          </div>

          <div class="accordion_dep type1  active">
            <a href="#" title="">가맹점관리</a>
          </div>

          <div class="accordion_dep type1">
            <a href="#" title="">공지사항</a>
          </div>

          <div class="accordion_dep type2">
            <a href="#" title="">관리자메뉴</a>
            <ul>
              <li>                
                <a href="#" title="">직원관리</a>
             </li>
              <li>                
                <a href="#" title="">예치금관리</a>
              </li>
              <li>                
                <a href="#" title="">공지사항 작성</a>
              </li>
              <li>                
                <a href="#" title="">가맹점 등록</a>
              </li>
              <li>                
                <a href="#" title="">일정관리</a>
              </li>
            </ul>
          </div>

          <!-- <div class="accordion_dep type2 active">   
            <ul style="display: block;"></ul> 
            a href class="active" -->           
        </div>
      </div>
      <!-- E: aside -->

      <!-- S: main layout -->
      <div class="main_layout">
        <div class="main_layout_inner">

          <!-- 작업 영역 -->
          <!-- S: table -->
          <div class="container-fluid" style="margin-top:30px">
            <h3>가맹점 조회</h3>
			      <br>

            <table class="table">
              <colgroup>
                <col>
                <col>
                <col>
                <col>
                <col>
                <col>
                <col style="width: 80px">
                <col style="width: 80px">
              </colgroup>
              <thead>
                <tr>
                  <th>가맹점 명</th>
                  <th>사업자 등록번호</th>
                  <th>대표자 명</th>
                  <th>주소</th>
                  <th>전화번호</th>
                  <th>이메일</th>
                  <th>수정</th>
                  <th>삭제</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>인천점</td>
                  <td>333-22-666666</td>
                  <td>김민수</td>
                  <td>인천광역시 계양구 작전동 111-22</td>
                  <td>010-1234-5678</td>
                  <td>minsu1234@naver.com</td>
                  <td><button class="btn btn-warning" type="submit" style="color:#fff">수정</button></td>
                  <td><button class="btn btn-warning" type="submit" style="color:#fff">삭제</button></td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- E: table -->   

          <!-- S: paging -->
          <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-light disabled" id="startPage"><<</button>
            <button type="button" class="btn btn-light mx-1 disabled"><</button>
            <button type="button" class="btn btn-warning mx-1" disabled style="color:white">1</button>
            <button type="button" class="btn btn-light mx-1">2</button>
            <button type="button" class="btn btn-light mx-1">></button>
            <button type="button" class="btn btn-light mx-1" id="maxPage">>></button> 
          </div>
          <!-- E: paging -->

        </div>
      </div> 
      <!-- E: main layout -->
      
    </div>
    <!-- E: container -->
  </div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>