<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>

    <title>chicken stock</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/common/common.css}"/>
    <!-- table css -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/item/item_receive.css}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- datepicker js & css -->
    <script type="text/javascript" th:src="@{http://code.jquery.com/jquery-3.6.0.min.js}"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"/>

</head>
<body>
<div class="wrap">

    <!-- S: header -->
    <div th:include="common/userHeader.html"></div>
    <!-- S: header -->

    <!-- S: container -->
    <div class="container px-0">

        <!-- S: aside -->
        <div th:include="common/userSidebar.html"></div>
        <!-- E: aside -->

        <!-- S: main layout -->
        <div class="main_layout">
            <div class="main_layout_inner">

                <!-- 작업 영역 -->
                <!-- S: table -->
                <div class="container-fluid" style="margin-top:30px">
                    <h3>입고 관리</h3>
                    <br>
                    <form action="/receive/admin/list">
                        <div>
                            <div class="input-group mb-3 col-12 float-start">
                                <select id="searchCondition" name="searchCondition" class="form-control col-2" style="max-width: max-content;">
                                    <option value="itemName">상품명</option>
                                </select>
                                <div id="reportrange" class="form-control" style="cursor: pointer; max-width: max-content;">
                                    <i class="fa fa-calendar"></i>
                                    <span class="date" style="margin-left: 7px;">
                                        <!-- 날짜 입력한 값 들어감 -->
                                    </span>
                                    <input type="hidden" id="startDate" name="startDate">
                                    <input type="hidden" id="endDate" name="endDate">
                                </div>

                                <!-- <button class="btn btn-light px-3" type="button" disabled></button> -->
                                <!-- <select id="searchCondition" class="form-control col-1" style="max-width: max-content;">
                                  <option value="date">상품명</option>
                                </select> -->
                                <input class="form-control me-2 col-3" type="text" name="searchValue" id="searchValue" placeholder="검색어를 입력해주세요.">
                                <button class="btn btn-warning" type="submit" style="color:#fff">검색</button>
                            </div>


                            <table class="table">
                                <thead>
                                <tr>
                                    <th>번호</th>
                                    <th>발주 번호</th>
                                    <th>입고 번호</th>
                                    <th>상품명</th>
                                    <th>입고 수량</th>
                                    <th>입고 금액</th>
                                    <th>주문일</th>
                                    <th>입고일</th>
                                    <th>입고 상태</th>
                                </tr>
                                </thead>
                                <tbody>
                                <div th:each="order, stat : ${ orderList }" th:if="${ orderList.get(stat.index).receiveStore.recCode eq null }">
                                    <tr class="detail-main">
                                        <td th:text="${ order.rNum }">1</td>
                                        <td th:text="${ order.orderCode }">190201</td>
                                        <td></td>
<!--                                        <td th:text="|${ orderItem[0].get(0).itemInfo.itemName }|"></td>-->
                                        <td th:if="${ orderItem.size() > 1}"
                                            th:text="|${ orderItem[0].get(0).itemInfo.itemName } 외 ${ orderItem.size()-1 }개 품목|"></td>
                                        <td th:if="${ orderItem.size() == 1}"
                                            th:text="${ orderItem[0].get(0).itemInfo.itemName }"></td>
                                        <td></td>
                                        <td></td>
                                        <td th:text="${ order.orderDate }"></td>
                                        <td></td>
                                        <td><button type="button" class="btn btn-warning btn-sm" onclick="insertReceive()" style="color: #fff;">입고 등록</button></td>
                                    </tr>
                                    <tr class="detail-sub-tr">
                                        <td class="detail-sub-td p-0" colspan="9">
                                            <div class="detail-sub" style="display: none">
                                                <table width="100%" th:each="order2 : ${ orderItem }"
                                                       th:if="${ order.orderNo eq order2[0].orderNo }">
                                                    <thead>
                                                    <tr>
                                                        <th>번호</th>
                                                        <th>발주 번호</th>
                                                        <th>입고 번호</th>
                                                        <th>상품코드</th>
                                                        <th>썸네일</th>
                                                        <th>상품명</th>
                                                        <th>카테고리</th>
                                                        <th>규격</th>
                                                        <th>제조사</th>
                                                        <th>발주 수량</th>
                                                        <th>출고 수량</th>
                                                        <th>입고 단가</th>
                                                        <th>입고 금액</th>
                                                        <th>주문일</th>
                                                    </tr>
                                                    </thead>
                                                    <tr th:each="order3, stat : ${ order2 }">
                                                        <td th:text="${ stat.count }">1</td>
                                                        <td th:text="${ order3.orderCode }">190201</td>
                                                        <td></td>
                                                        <td th:text="${ order3.itemInfo.itemNo }">100001</td>
                                                        <td>
                                                            <div class="img-info">
                                                                <div class="img-info__img">
                                                                    <img th:src="'/itemImage/' + ${ order3.itemFile.fileName }" alt="">
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td th:text="${ order3.itemInfo.itemName }">닭다리</td>
                                                        <td th:text="${ order3.itemCategory.categoryName }">식재료</td>
                                                        <td th:text="${ order3.itemInfo.itemStandard }">1kg</td>
                                                        <td th:text="${ order3.itemInfo.itemMake }">하림</td>
                                                        <td th:text="${ order3.recCart.cartAmount }">30</td>
                                                        <td th:if="${ order3.recReleaseItem.relAmount eq null}" th:text="0"></td>
                                                        <td th:if="${ order3.recReleaseItem.relAmount ne null}" th:text="${ order3.recReleaseItem.relAmount }"></td>
                                                        <td th:text="|${ #numbers.formatInteger(order3.itemInfo.itemSales, 0, 'COMMA') }원|">4,500</td>
                                                        <td></td>
                                                        <td th:text="${ order3.orderDate }">2022-02-02</td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </td>
                                    </tr>
                                </div>
                                <div th:each="receive, stat : ${ receiveList }" th:if="${ orderList.get(stat.index).receiveStore.recCode ne null }">
                                    <tr class="detail-main">
                                        <td th:text="${ receive.rNum }">1</td>
                                        <td th:text="${ receive.orderCode }">190201</td>
                                        <td th:text="${ receive.recCode }"></td>
                                        <td>닭다리 외 2개 품목</td>
                                        <td th:text="${ receive.sumRecAmount }"></td>
                                        <td th:text="${ receive.recTotalMoney }"></td>
                                        <td th:text="${ receive.recStoreOrder.orderDate }"></td>
                                        <td th:text="${ receive.recDate }"></td>
                                        <td><button type="button" class="btn btn-light btn-sm" onclick="insertReceive()" style="background: #ccc; color: #fff;" disabled>입고 완료</button></td>
                                    </tr>
                                    <tr class="detail-sub-tr">
                                        <td class="detail-sub-td p-0" colspan="9">
                                            <div class="detail-sub" style="display: none">
                                                <table width="100%">
                                                    <thead>
                                                    <tr>
                                                        <th>번호</th>
                                                        <th>발주 번호</th>
                                                        <th>입고 번호</th>
                                                        <th>상품코드</th>
                                                        <th>썸네일</th>
                                                        <th>상품명</th>
                                                        <th>카테고리</th>
                                                        <th>규격</th>
                                                        <th>제조사</th>
                                                        <th>발주 수량</th>
                                                        <th>출고 수량</th>
                                                        <th>입고 단가</th>
                                                        <th>입고 금액</th>
                                                        <th>입고일</th>
                                                    </tr>
                                                    </thead>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>190201</td>
                                                        <td>11111</td>
                                                        <td>100001</td>
                                                        <td>
                                                            <div class="img-info">
                                                                <div class="img-info__img">
                                                                    <img src="../assets/images/chicken.jpg" alt="">
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>닭다리</td>
                                                        <td>식재료</td>
                                                        <td>1kg</td>
                                                        <td>하림</td>
                                                        <td>30</td>
                                                        <td>33</td>
                                                        <td>4,500</td>
                                                        <td></td>
                                                        <td>2022-02-02</td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </td>
                                    </tr>
                                </div>
                                </tbody>
                            </table>
                        </div>
                    </form>

                </div>
                <!-- E: table -->
                <!-- S: paging -->
                <div class="d-flex justify-content-center mb-4">
                    <button type="button" class="btn btn-light disabled" id="startPage"><<</button>
                    <button type="button" class="btn btn-light mx-1 disabled"><</button>
                    <button type="button" class="btn btn-warning mx-1" disabled style="color:white">1</button>
                    <button type="button" class="btn btn-light mx-1">2</button>
                    <button type="button" class="btn btn-light mx-1">></button>
                    <button type="button" class="btn btn-light mx-1" id="maxPage">>></button>
                </div>
                <!-- E: paging -->

            </div>
        </div>
        <!-- E: main layout -->
    </div>
    <!-- E: container -->
</div>

<!-- 체크 박스 전체 선택 -->
<script type="text/javascript">
    function selectAll(selectAll)  {
        const checkboxes = document.getElementsByName('option');

        checkboxes.forEach((checkbox) => {
            checkbox.checked = selectAll.checked;
        })
    }
</script>

<!-- 입고 등록 메시지 띄우기 -->
<script>
    function insertReceive(){
        var answer = confirm('입고를 진행하시겠습니까?');
        if(answer){
            location.href='user_receive.html';
        }
        if(answer){
            var answer2 = alert('입고가 완료되었습니다.'); // 선택 항목만 입고되도록, 입고등록 완료시 alert 띄우고 조회화면으로 이동
        }

    }
</script>

<!-- table js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<!-- datepicker js -->
<script>
    var jb = jQuery.noConflict();
    var form = document.getElementsByClassName('form-check');

    jb(document).ready(function () {
        // 1. 상품 상세 조회
        // $("tbody tr").click(function(){
        //       location.href = 'javascript:showItemDetail()';
        // });
        // $("tbody tr input").click(function(event){
        //   event.stopPropagation();
        // });
        // 2. 상품 등록
        jb("#btnInsertItem").click(function () {
            location.href = 'javascript:showInsertItem()';
        });

        jb(".detail-main").click(function () {
            jb(this).next(".detail-sub-tr").find(".detail-sub").slideToggle(300);
            jb(this).toggleClass('on').siblings().removeClass('on');
            jb(this).next(".detail-sub-tr").find(".detail-sub").siblings(".detail-sub").slideUp(300);
            //
            // var str = "";
            // var tdArr = new Array();
            //
            // var tr = $(this);
            // var td = tr.children();
            //
            // alert(tr.text());

        });

        $(function () {

            let start = moment();
            let end = moment();

            function cb(start, end) {
                jb('#reportrange span').html(start.format('YYYY-MM-DD') + ' ~ ' + end.format('YYYY-MM-DD'));
                jb('#reportrange #startDate').val(start.format('YYYY-MM-DD'));
                jb('#reportrange #endDate').val(end.format('YYYY-MM-DD'));
            }

            $('#reportrange').daterangepicker({
                showDropdowns: true,
                minYear: 2020,
                maxYear: 2030,
                "autoApply": true,
                autoUpdateInput: false,
                "linkedCalendars": false,
                "locale": {
                    "format": "YYYY/MM/DD",
                    "separator": " ~ ",
                    "applyLabel": "확인",
                    "cancelLabel": "취소",
                    "fromLabel": "From",
                    "toLabel": "To",
                    "customRangeLabel": "Custom",
                    "weekLabel": "W",
                    "daysOfWeek": [
                        "일",
                        "월",
                        "화",
                        "수",
                        "목",
                        "금",
                        "토"
                    ],
                    "monthNames": [
                        "1월",
                        "2월",
                        "3월",
                        "4월",
                        "5월",
                        "6월",
                        "7월",
                        "8월",
                        "9월",
                        "10월",
                        "11월",
                        "12월"
                    ],
                    "firstDay": 7
                },
                startDate: start,
                endDate: end,
            }, cb)

            cb(start, end);
        });
    });

</script>
</body>
</html>