<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>

  <title>chicken stock</title>

  <link rel="stylesheet" type="text/css" th:href="@{/css/common/common.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/notice/notice.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/account/account_list.css}"/>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="/js/common.js"></script>

</head>
<body>
<div class="wrap">

  <!-- S: header -->
  <div class="header">
    <div class="logo">
      <a href="" title=""><img src="/images/logo.png" alt="logo"/></a>
    </div>
    <div class="logout_area">
      <button class="btn btn-outline-light">로그아웃</button>
    </div>
    <div class="user_area">
      <span>관리자</span>님, 환영합니다.
    </div>
  </div>
  <!-- S: header -->

  <!-- S: container -->
  <div class="container px-0">

    <!-- S: aside -->
    <div class="aside">
      <div class="accordion">

        <!-- 하위 메뉴가 없을때 -->
        <div class="accordion_dep type1 ">
          <a href="#" title="">홈</a>
        </div>

        <div class="accordion_dep type2 active">
          <a href="#" title="">마이페이지</a>
          <ul style="display: block;">
            <li>
              <a href="#" title="" class="active">예치금 관리</a>
            </li>
            <li>
              <a href="#" title="">비밀번호 재설정</a>
            </li>
          </ul>
        </div>

        <div class="accordion_dep type1 ">
          <a href="#" title="">품목관리</a>
        </div>

        <div class="accordion_dep type1 ">
          <a href="#" title="">발주</a>
        </div>

        <div class="accordion_dep type1 ">
          <a href="#" title="">입고 조회</a>
        </div>

        <div class="accordion_dep type1 ">
          <a href="#" title="">반품관리</a>
        </div>

        <div class="accordion_dep type1 ">
          <a href="#" title="">매입전표</a>
        </div>

        <div class="accordion_dep type1 ">
          <a href="#" title="">세금계산서</a>
        </div>

        <div class="accordion_dep type1 ">
          <a href="#" title="">거래명세서</a>
        </div>

        <div class="accordion_dep type1 ">
          <a href="#" title="">공지사항</a>
        </div>

        <div class="accordion_dep type1 ">
          <a href="#" title="">가맹점 조회</a>
        </div>
      </div>
    </div>
    <!-- E: aside -->

    <!-- S: main layout -->
    <div class="main_layout">
      <div class="main_layout_inner">

        <!-- 작업 영역 -->
        <!-- S: table -->
        <div class="container-fluid" style="margin-top:30px">
          <h3>예치금 관리</h3>
          <br>

          <!-- S: text area -->
          <div class="text-area">
            <strong>가맹점</strong> <span>현재 잔액</span> <strong>500,000</strong>원
          </div>
          <!-- E: text area -->

          <!-- S: btn area -->
          <div class="btn-area">
            <button class="btn btn-warning account_popup_open" style="color: #fff;">입금 신청</button>
          </div>
          <!-- E: btn area -->

          <table class="table">
            <colgroup>
              <col style="width: 8%;">
              <col style="width: 14%;">
              <col style="width: 26%;">
              <col style="width: 26%;">
              <col style="width: 26%;">
            </colgroup>
            <thead>
            <tr>
              <th>건수</th>
              <th>일시</th>
              <th>입금액</th>
              <th>출금액</th>
              <th>잔액</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>1</td>
              <td>2022.08.28</td>
              <td>1,000,000</td>
              <td>500,000</td>
              <td>500,000</td>
            </tr>
            </tbody>
          </table>
        </div>
        <!-- E: table -->

      </div>
    </div>
    <!-- E: main layout -->

  </div>
  <!-- E: container -->

  <!-- S: popup -->
  <div class="dimm"></div>
  <div class="account_popup">
    <h4>
      입금 신청
      <button class="btn-close"></button>
    </h4>
    <div class="popup_inner">
      <table cellpadding="0" cellspacing="0">
        <tbody>
        <tr>
          <th>가맹점 명</th>
          <td>가맹점</td>
        </tr>
        <tr>
          <th>입금액</th>
          <td><input type="text"></td>
        </tr>
        <tr>
          <th>현재 잔액</th>
          <td>500,000원</td>
        </tr>
        </tbody>
      </table>
      <div class="btn-area">
        <button class="btn btn-cancel">취소</button>
        <button class="btn btn-warning" style="color: #fff;">확인</button>
      </div>
    </div>
  </div>
  <!-- E: popup -->
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script type="text/javascript">
  $(function(){

    const accountPop = $('.dimm, .account_popup')
    $('.account_popup_open').on('click', function(){
      $(accountPop).fadeIn(300);
    });
    $('.btn-close, .btn-cancel').on('click', function(){
      $(accountPop).fadeOut(300);
    });
  });
</script>
</body>
</html>