<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>

    <title>chicken stock</title>

    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>

</head>
<body>
    <!-- S: header -->
    <div class="header">
        <div class="logo">
            <a href="" title=""><img src="/images/logo.png" alt="logo"/></a>
        </div>
        <div class="logout_area">
            <button class="btn btn-outline-light">로그아웃</button>
        </div>
        <div class="user_area">
            <span>가맹점</span>님, 환영합니다.
        </div>
    </div>
    <!-- S: header -->
</body>
</html>