<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>

  <title>chicken stock</title>

  <link rel="stylesheet" type="text/css" th:href="@{/css/common/common.css}"/>
  <!-- table css -->
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/common/style.css}"/>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>

  <script src="https://code.jquery.com/jquery-3.6.0.js"/>
  <script th:src="@{js/common.js}"/>
  <script>
    function regist(){
      $("#registModal").modal("show");
    }
  </script>
</head>
<body>
  <div class="wrap">
    <!-- modal 추가 -->
    <div class="modal fade" id="registModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">정보를 입력하세요.</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form action="" method="post">
            <div class="modal-body">
              <div class="form-group">
                <label for="id" class="col-form-label">아이디</label>
                <input type="text" class="form-control col-8" id="id" name="id" required>
                <label for="pwd" class="col-form-label">비밀번호</label>
                <input type="password" class="form-control" id="pwd" name="pwd" required>
                <label for="name" class="col-form-label">이름</label>
                <input type="text" class="form-control" id="name" name="name" required>
                <label for="email" class="col-form-label">이메일</label>
                <input type="email" class="form-control" id="email" name="email" required>
                <label for="phone" class="col-form-label">전화번호</label>
                <input type="tel" class="form-control" id="phone" name="phone" required>
                <label for="birth" class="col-form-label">생년월일</label>
                <input type="date" class="form-control col-6" id="birth" name="birth" required>
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-warning" id="addRegist">추가</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal"
                      id="sprintSettingModalClose">취소</button>
            </div>
          </form>

        </div>
      </div>
    </div>

    <!-- S: header -->
    <div th:include="common/adminHeader.html"></div>
    <!-- S: header -->

    <!-- S: container -->
    <div class="container px-0">

      <!-- S: aside -->
      <div th:include="common/adminSidebar.html"></div>
      <!-- E: aside -->

      <!-- S: main layout -->
      <div class="main_layout">
        <div class="main_layout_inner">

          <!-- 작업 영역 -->
          <!-- S: table -->

          <div class="container-fluid" style="margin-top:30px">
            <h3 style="float: left;">직원 관리</h3>
            <div class="d-flex justify-content-end">
              <button type="button" class="btn" onclick="regist();" style="margin-right: 30px;">직원 추가</button>
            </div>
            <br>

            <table class="table">
              <thead>
              <tr>
                <th>번호</th>
                <th>아이디</th>
                <th>이름</th>
                <th>이메일</th>
                <th>전화번호</th>
                <th>생년월일</th>
                <th>권한부여</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>1</td>
                <td>gdhong01</td>
                <td>홍길동</td>
                <td>gdhong01@gmail.com</td>
                <td>010-1004-1201</td>
                <td>1997.09.13</td>
                <td><button class="btn btn-warning" onclick="test();" style="color: white;">권한 부여</button></td>
              </tr>
              </tbody>
            </table>
          </div>
          <!-- E: table -->
          <!-- S: paging -->
          <div class="d-flex justify-content-center col-12" >
            <button type="button" class="btn btn-light disabled" id="startPage"><<</button>
            <button type="button" class="btn btn-light mx-1 disabled"><</button>
            <button type="button" class="btn btn-warning mx-1" disabled style="color:white">1</button>
            <button type="button" class="btn btn-light mx-1">2</button>
            <button type="button" class="btn btn-light mx-1">></button>
            <button type="button" class="btn btn-light mx-1" id="maxPage">>></button>
          </div>

          <!-- E: paging -->

        </div>
      </div> 
      <!-- E: main layout -->
      
    </div>
    <!-- E: container -->
  </div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script>
    function test() {
        if (!confirm("관리자 권한을 부여하시겠습니까?")) {
            alert("취소");
        } else {
            alert("관리자 권한이 부여되었습니다.");
        }
    }
</script>
</body>
</html>